body {
    color: rgb(var(--scale-1));
    font-family: var(--UI-font);
    background: rgb(var(--liltone));
}
::selection {
    background-color: rgb(var(--undertone),.85);
}
::-webkit-scrollbar, #side-bar:hover::-webkit-scrollbar {
    width: .8em;
    height: .8em;
}
::-webkit-scrollbar-thumb,
 #side-bar:hover::-webkit-scrollbar-thumb {
    background-color:  rgb(var(--undertone));
}
::-webkit-scrollbar-track-piece:decrement {
    box-shadow: inset 0 0 4px rgb(var(--scrollbar-bg-color));
}
::-webkit-scrollbar-track-piece:increment {
    box-shadow: inset 0 0 4px rgb(0,0,0,.6);
}
::-webkit-scrollbar-thumb:window-inactive {
    opacity: .3;
}
@supports (scroll-behavior: smooth) {
* {scroll-behavior: smooth}
}
a {
    -webkit-font-smoothing: auto;
}
p, #text {
    -webkit-font-smoothing: antialiased;
}
img[src*="star"] {
    filter: drop-shadow(0px 0px 1px #a40);
}
img:is([src*="userkarma"],[src*="avatar"]):not([style*="padding"]) {
    image-rendering: pixelated;
}
h1, #page-title {
    color: rgb(var(--title-color));
    padding: 0 0 0.25em;
    margin: 0;
    font-weight: normal;
    text-shadow: 0 0 5px rgb(var(--scale-0)), 0 0 10px rgb(var(--scale-0));
}
#page-title {
    margin-top: -1.2em;
}
h1 {
    font-family: 'Zuijin', "Source Han Serif", "Source Han Serif CN", Songti SC, serif;
    color: rgb(var(--title-color));
    font-weight: 900;
    text-shadow: 0 0 5px rgb(var(--title-shadow)), 0 0 10px rgb(var(--title-shadow));
    letter-spacing: -.3rem;
    font-size: xx-large;
}
h2 {
    font-family: 'Zuijin', "Source Han Serif", "Source Han Serif CN", Songti SC, serif;
    color: rgb(var(--title-color));
    font-weight: 900;
    text-shadow:0 0 4px rgb(var(--title-shadow)), 0 0 8px rgb(var(--title-shadow));
    letter-spacing: -.2rem;
    font-size: x-large;
}
h3 {
    font-family: 'Noto Serif SC', 'Noto Serif TC';
    font-weight: 900;
    font-size: 120%;
}
#page-title {
    font-family: 'Zuijin', "Source Han Serif", "Source Han Serif CN", Songti SC, serif;
    color: rgb(var(--title-color));
    font-weight: 900;
    text-shadow: 0 0 5px rgb(var(--title-shadow)), 0 0 10px rgb(var(--title-shadow));
    letter-spacing: -.25rem;
    font-size: xx-large;
    border-bottom: none;
    text-align: center;
}
:is(h1,h2,#page-title):not(:lang(cn)) {
    letter-spacing: -.1rem;
}
ul {
    list-style: square;
}
#top-bar ul {
    list-style-image: none;
}
#top-bar a:hover {
    background-color: rgb(var(--title-color));
    text-decoration: underline;
}
@media (min-width: 767px) {
#top-bar {
    display: none;
}
}
main-content > li, p {
    line-height: 130%;
}
a {
    color: rgb(var(--link-color));
    text-decoration: none;
    background: transparent;
    transition: all .4s var(--standard-curve);
    border-bottom: 1px solid transparent;
    -moz-transition: all .4s var(--standard-curve);
    -webkit-transition: all .4s var(--standard-curve);
    -o-transition: all .4s var(--standard-curve);
}
a:visited {
    color: rgb(var(--link-hover-color));
}
a.newpage {
    color: rgb(var(--link-newpage-color));
    text-decoration: none;
    background: transparent;
}
a:hover {
    color: rgb(var(--link-hover-color));
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
}
hr {
    margin: 1em 1em;
    padding: 0;
    height: 1.5px;
    border: none;
    background: rgb(var(--lowlight-primary-color));
    box-shadow: 0 0 2px rgb(var(--scale-0)), 0 0 16px 1px rgb(var(--scale-8));
}
tt {
    font-family: var(--Mono-font)
}
blockquote {
    border: 1px;
    padding: 1em;
    background: linear-gradient(to right, rgb(47, 54, 76, 0.96) , rgb(63, 47, 85, 0.96));
    border-radius: 0.5px 3px 3px 0.5px;
    box-shadow: 0 0 9px 0px #212121;
    border-left: 5px #fddf4d solid;
    color: #fdf7cf;
    margin: 1em auto;
}
blockquote li {
    color: #fdf7cf !important;
}
blockquote hr {
    filter: invert(1)
}
blockquote a {
    color: rgb(253 237 159 / 95%);
}
blockquote a:visited, blockquote a:hover {
    color: rgb(233 217 129 / 95%);
}
.blockquote {
    border: 1px;
    padding: 1em;
    background: linear-gradient(to right, rgb(47, 54, 76, 0.96) , rgb(63, 47, 85, 0.96));
    border-radius: 0.5px 3px 3px 0.5px;
    box-shadow: 0 0 9px 0px #212121;
    border-left: 5px #fddf4d solid;
    color: #fdf7cf;
    margin: 1em auto;
}
.blockquote li {
    color: #fdf7cf !important;
}
.blockquote hr {
    filter: invert(1)
}
.blockquote a {
    color: rgb(253 237 159 / 95%);
}
.blockquote a:visited, .blockquote a:hover {
    color: rgb(233 217 129 / 95%);
}
div.wiki-note {
    width: auto;
    margin: 0.5em 5em;
    padding: .25rem 1rem;
    border: 1px solid rgb(var(--scale-6-sup));
    text-align: center;
    background: repeating-linear-gradient(-45deg,rgb(var(--scale-7-sup)),rgb(var(--scale-7-sub)) 1px,rgb(var(--scale-7-sub)) 0,rgb(var(--scale-7-sup)) 2px);
}
/* HEADER ON DESKTOP */
#header {
    height: 100%;
    position: relative;
    z-index: 2;
    padding-bottom: 0px;
    background-image: none;
    display: grid;
    align-items: center;
    justify-items: start;
}
@media only screen and (min-width:767px) {
#header h1 {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    top: var(--banner-height);
}
#header h1 a span {
    display: none;
}
#header h1 a {
    width: 10vw;
    height: 10vw;
    z-index: 1;
    border-bottom: none;
    position: relative;
}
#header h1 a:hover {
    border-bottom: none;
}
#header h1 a:before {
    content: "";
    mask: var(--feather-mask);
    -webkit-mask: var(--feather-mask);
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1%;
    top: -2%;
    backdrop-filter: blur(0px);
    transition: all .2s linear;
}
#header h1 a:hover:before {
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border-bottom: none;
}
}
#header h2 {
    clear: left;
    float: left;
    font-size: 141%;
    line-height: 3rem;
    letter-spacing: -0.2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    height: 290px;
    width: 100%;
    font-family:var(--Serif-font);
}
div#header h2 span {
    font-size:0px;
    padding: 4px;
}
div#header h2:after {
    content: var(--header-subtitle);
}
div#extra-div-1 {
    height: var(--banner-height);
    width: 100%;
    top: 0px;
    background:  var(--banner-left) left top no-repeat, var(--banner-right) right top repeat-x;
    z-index: 1;
    box-shadow: 0 1px 4px 0.5px rgb(var(--frame-shadow));
    position: fixed;
    overflow: visible;
}
div#extra-div-2 {
    height: 855px;
    width: 100%;
    top: var(--banner-height);
    position: absolute;
    background: var(--bg-image) 50% no-repeat;
    background-size: cover;
    z-index: -1;
    box-shadow: inset 0px -10px 12px 0px rgb(var(--liltone));
    animation: emerge 1s var(--vivacissimo-curve);
    -moz-animation: emerge 1s var(--vivacissimo-curve);
    -webkit-animation: emerge 1s var(--vivacissimo-curve);
    -o-animation: emerge 1s var(--vivacissimo-curve);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
div#extra-div-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: var(--logo-image) 50% 50% no-repeat;
    background-size: 150px;
    top: var(--banner-height);
    position: absolute;
    height: 282px;
    width: 100%;
    z-index: -2;
    animation: blur-in 1.2s var(--vivacissimo-curve);
    -moz-animation: blur-in 1.2s var(--vivacissimo-curve);
    -webkit-animation: blur-in 1.2s var(--vivacissimo-curve);
    -o-animation: blur-in 1.2s var(--vivacissimo-curve);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
div#extra-div-5 {
    position: fixed;
    display: flex;
    align-content: center;
    align-items: center;
    animation: blur-in 1.2s var(--vivacissimo-curve);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    top: var(--banner-height);
    height: 100vh;
    z-index: 0;
}