@charset "utf-8";
div.question,div.answer {
    --accent: 228, 93, 93;
    margin: .5rem;
    padding: .5rem;
    color: var(--scale-2);
    background-color: rgb(var(--accent),.5);
    border: 2px solid rgb(var(--accent));

    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 2em 1fr;
    gap: 0;
    grid-template-areas:
      "bar-title"
      "bar-content";
}
:is(div.question,.div.answer) > .bar-title {
    font-size: 1.5rem;
    color: var(--scale-1);
    font-family:var(--title-font);
    letter-spacing: -.05rem;
}
:is(div.question,.div.answer) > .bar-content p:not(a) {
    text-indent: 2rem;
}