@keyframes Bg_Toggle {

}
@keyframes Potrait_Toggle {

}
@keyframes Dialog_Toggle {

}
@keyframes Name_Toggle {

}
.ScriptWrapBox {
    display: flex;
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;
    background-color: #000;
}
.ScriptLogButton {}
.ScriptLogBox {}
.ScriptFunctionButton{}

.ScriptBgBox {}
.ScriptPotraitBox{}
.ScriptTextBox {
    display:grid;
}
