@import url('https://arknights.wikidot.com/component:fonts-srcs-1/code/1');
.carousel_landing:has(iframe:not([style])) {
    display: flex;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 0 45%;
    align-items: center;
    background: rgb(var(--scale-7-sup));
    box-shadow: 0 0 2px 1px rgb(var(--scale-4-sup));
    justify-content: center;
    position: relative;
}
.carousel_landing:has(iframe:not([style])):before {
   content: "";
   display: flex;
   width: clamp(2rem,5vw,3rem);
   height: clamp(2rem,5vw,3rem);
   box-sizing: border-box;
   border: solid clamp(.2rem,.75vw,.4rem) rgb(var(--undertone));
   margin: 0 auto;
   animation: diamond-load .75s linear infinite;
   transform:rotate(45deg);
   flex-shrink: 0;
}
.carousel_landing:has(iframe:not([style])):after {
    content:"\\组件加载中\\ \A Environment initializing...";
    flex-shrink: 0;
    white-space: pre;
    font-family: 'benderregular','Noto Sans SC';
    text-transform: uppercase;
}
.carousel_landing:has(iframe[style]) {
    height: 100%;
    transition: .5s;
}