@import url(carousel.css);
a[aria-label] {
    display: none;
}
ul[data-info="indicator"] {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    left: 0%;
    transform: translateY(-50%);
    bottom: 1rem;
    list-style: none;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}