/* INDEX */
.forum-group table td.threads, .forum-group table td.posts {
    width: fit-content;
}
.forum-group div.head {
    background-color: #333;
    color: #fff9ef;
    padding: 0.5em 1em;
    margin: 0;
    outline: 1px solid #111;
    border-radius: 2px;
}
.forum-group table tr.head td, .forum-category-box table tr.head td {
    text-align: center;
    font-size: 90%;
    background-color: #fff0cf;
    border-radius: 2px;
}
.forum-group table td, .forum-category-box table td{
    outline: 2px solid #fde6c2;
    padding: 2px 10px;
    background-color: #fff9ef;
    border-radius: 2px;
}
.forum-group table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 2px;
}
/* CATEGORY */
.forum-category-box table td.started, .forum-category-box table td.last {
    width: 25%;
}
.forum-category-box table td.posts {
    width: 12%;
}
.forum-category-box .description-block {
    border: 2px solid #fff5e3;
    border-left: 3px solid #ffd004;
    margin: 1em 4em;
    padding: 0.5em;
    background: linear-gradient(120deg, #fffefb, transparent);
    height: 100%;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    box-shadow: -2px -2px 4px 0px #ffffff8a, 2px 2px 4px 0px #0000005e;
}

/* THREAD & POST */
.forum-thread-box .description-block {
    border: 2px solid #fff5e3;
    border-left: 3px solid #ff7c04;
    margin: 1em 4em;
    padding: 0.5em;
    background: linear-gradient(120deg, #fffefb, transparent);
    height: 100%;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    box-shadow: -2px -2px 4px 0px #ffffff8a, 2px 2px 4px 0px #0000005e;
}
.forum-new-thread-box .description {
    border: 2px solid #e3edff;
    border-left: 3px solid #1864a8;
    margin: 1em 4em;
    padding: 0.5em;
    background: linear-gradient(120deg, #fffefb, transparent);
    height: 100%;
    overflow: hidden;
    border-radius: 0 4px 4px 0;
    box-shadow: -2px -2px 4px 0px #ffffff8a, 2px 2px 4px 0px #0000005e;
}

#new-thread-form {
    display: grid;
    position: relative;
    grid-template-areas:
        "title"
        "divsub"
        "toolbar"
        "inner"
        "changesize"
        "edithelp-34"
        "buttons-center";
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    margin: 0;
}
#new-thread-form > table.form {
    grid-area: title;
}
form#new-thread-form div.sub div.sub {
    font-size: 80%;
    color: #444;
    margin-left: 0.5rem;
    margin-top: 0rem;
    text-align: left;
}
#new-thread-form > div:nth-child(4) {
    display: grid;
    grid-area: inner;
}
#post-edit {
    word-wrap: break-word;
    -moz-tab-size: 4;
    overflow-y: auto;
    border: 1px solid rgb(var(--focus-border),1);
    box-shadow: none;
    outline: 0 solid transparent;
    font-size: 1em;
    line-height: 1.25;
    text-align: left;
    white-space: pre-wrap;
    tab-size: 4;
}
#new-thread-form > .wd-editor-toolbar-panel {
    grid-area: toolbar;
}
#new-thread-form > .wd-editor-toolbar-panel, div#np-editor-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#new-thread-form > .change-textarea-size, #new-post-form > div.change-textarea-size, #edit-post-form > div.change-textarea-size {
    grid-area: changesize;
    display: none;
}
#new-thread-form > .edit-help-34, #new-post-form > div.edit-help-34, #edit-post-form > div.edit-help-34 {
    grid-area: edithelp-34;
    display: none;
}
#new-thread-form > div.buttons.alignleft, #new-post-form > div.buttons.alignleft, #edit-post-form > div.buttons.alignleft {
    grid-area: buttons-center;
    text-align: center;
}
.thread-container .post .long .changes {
    color: rgb(var(--plain-secondary-color));
}
.thread-container .post .long .changes > span.odate:after {
    content: " ;";
}
.thread-container .post .long .changes span.printuser {
    vertical-align: initial;
}
.thread-container .post .long .revisions:not([style*="none"]) {
    display: grid !important;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1em 0 1fr;
    gap: 2px 1px;
    grid-template-areas:
        "history-toggle"
        "history-title"
        "post-history";
    max-width: min(100vw,30rem);
    margin: 0 0 0 auto;
}
.thread-container .post .long .changes a,.thread-container .post .long .revisions a {
    color: rgb(var(--lowlight-secondary-color));
    border-bottom: none;
}
.thread-container .post .long .changes a:hover,.thread-container .post .long .revisions a:hover {
    color: rgb(var(--lowlight-primary-color));
}
a[onclick*="showHistory"] {
    position: relative;
    padding: 2px;
}
a[onclick*="hideHistory"] {
    position: relative;
    display: inline-flex;
    grid-area: history-toggle;
    height: fit-content;
    width: fit-content;
    padding: 2px;
    transform: translate(3px,-7px);
    margin: 0 0 0 auto;
}
:is(a[onclick*="hideHistory"],a[onclick*="showHistory"]):after {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 101%;
    height: 100%;
    background: rgb(var(--plain-secondary-color));
    box-shadow: 0 0 1px 1px rgb(var(--plain-third-color));
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s;
}
:is(a[onclick*="hideHistory"],a[onclick*="showHistory"]):hover {
    color: rgb(var(--scale-7-sub)) !important
}
:is(a[onclick*="hideHistory"],a[onclick*="showHistory"]):hover:after {
    transform-origin: left top;
    transform: scale(1);
}
.thread-container .post .long .revisions .title {
    z-index:1;
    grid-area: post-history/history-toggle;
    padding: 0;
    display: flex;
    justify-content: center;
    background: rgb(var(--dark-primary-color));
    color: rgb(var(--scale-8));
    box-shadow: 2px 0 0 2px rgb(var(--dark-primary-color)), -2px 0 0 2px rgb(var(--dark-primary-color)),0 0 3px 2px rgb(var(--dark-primary-color));
}
.thread-container .post .long .revisions table {
    z-index: 2;
    border-spacing: 0 2px;
    grid-area: post-history;
    width: 100%;
    margin-top: calc(1rem + 6px);
}
.thread-container .post .long .revisions td {
    position:relative;
    background-color: #fff;
    box-shadow: 0px 0 3px 0px white;
    padding: 1px 2px;
    transition: background-color .2s var(--moderato-curve);
}
.thread-container .post .long .revisions td:after {
    position: absolute;
    bottom: -1px;
    left: -1px;
    content: "";
    width: 101%;
    height: 2px;
    background: rgb(var(--plain-third-color));
    transform: scaleX(0);
    transform-origin: right top;
    transition: transform .3s;
}
.thread-container .post .long .revisions td:hover:after {
    transform-origin: left top;
    transform: scale(1);
}
.thread-container .post .long .revisions table tr.active td {
    background-color: rgb(var(--bright-secondary-color));
    border: 1px solid rgb(var(--bright-secondary-color));
}
/* OWINDOW */
#new-thread-form > table > tbody > tr:nth-child(1) > td:nth-child(1), #new-thread-form > table > tbody > tr:nth-child(2) > td:nth-child(1) {
    width: 6em;
    margin: -4em 0 0 0;
    padding: 2px;
    transform: translate(0, -2px);
    outline: 0 solid rgb(var(--focus-border),1);
    background-color: transparent;
    box-shadow: 0 0 0 0 rgb(var(--focus-border),1);
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    transition: box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),transform .2s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: box-shadow,color,background-color,transform,font-weight,font-variation-settings;
}
#new-thread-form > table > tbody > tr:nth-child(2) > td:nth-child(1) {
    position: absolute;
    top: 7.25em;
}
#new-thread-form > table > tbody > tr:nth-child(1):focus-within > td:nth-child(1) {
    --wght: 600;
    transform: translate(.15625rem, calc(-.3625rem + 2px));
    outline: 0 solid #000;
    background-color: rgb(var(--focus-border),1);
    box-shadow: 0px 2px 0px 2.5px rgb(var(--focus-border),1);
    color: #fff;
    font-weight: var(--wght);
    padding: 2px;
}
#new-thread-form > table > tbody > tr:nth-child(2):focus-within > td:nth-child(1) {
    --wght: 600;
    transform: translate(0.15625rem,-0.05rem);
    outline: 0 solid #000;
    background-color: rgb(var(--focus-border),1);
    box-shadow: 0px 2px 0px 2.5px rgb(var(--focus-border),1);
    color: #fff;
    font-weight: var(--wght);
    padding: 2px;
    position: absolute;
}
input.text.form-control, textarea#thread-description, textarea#post-edit, textarea#np-text {
    --wght: 500;
    border: 1px solid rgb(var(--scale-4));
    outline: 0 solid #000;
    background-color: #fff;
    box-shadow: 0 0 0 3px transparent;
    font-weight: var(--wght);
    transition: box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),transform .2s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: box-shadow,color,background-color,transform,font-weight,font-variation-settings;
}
input.text.form-control:focus-within, textarea#thread-description:focus-within, textarea#post-edit:focus-within, textarea#np-text:focus-within {
    --wght: 500;
    border: 1px solid rgb(var(--focus-border),1);
    outline: 0 solid rgb(var(--focus-border),1);
    background-color: #fff;
    box-shadow: 0 0 0 2px rgb(var(--focus-border),1);
    font-weight: var(--wght);
}
#new-thread-form > table > tbody > tr:nth-child(1) > td:nth-child(2) > input, #thread-description {
    color: #000;
    margin-left: 0em;
    width: 75%;
}
/* HEADBAR */
.thread-container .post .head {
padding: 0.5em 1em;
    background: linear-gradient(to right, #fafafa, #fff8df);
    box-shadow: inset 2px 3px 6px rgb(255 231 64 / 15%);
    border-radius: 0px 2px 17px 0px;
    border: 2px solid #fff6e3;
    border-left: 3px solid #fcd603;
}
.thread-container .post.folded .short {
    background: linear-gradient(to right, #fafafa, #fff8df);
    box-shadow: inset 2px 3px 6px rgb(255 231 64 / 15%);
    border-radius: 0px 2px 17px 0px;
    border: 2px solid #fff6e3;
    border-left: 3px solid #fcd603;
    padding: .8em .5em;
}
.thread-container .post .content {
    position: relative;
    overflow: hidden;
}
.thread-container > div#thread-container-posts > .post-container:nth-child(odd) > .post .head {
    padding: 0.5em 1em;
    background: linear-gradient(to right, #fafafa, #e8f6ff);
    box-shadow: inset 2px 3px 6px rgb(64 195 255 / 15%);
    border-radius: 0px 2px 17px 0px;
    border: 2px solid #e3e3ff;
    border-left: 3px solid #3b76c8;
}
.thread-container >  div#thread-container-posts > .post-container:nth-child(odd) > .post.folded .short {
    background: linear-gradient(to right, #fafafa, #e8f6ff);
    box-shadow: inset 2px 3px 6px rgb(64 195 255 / 15%);
    border-radius: 0px 2px 17px 0px;
    border: 2px solid #e3e3ff;
    border-left: 3px solid #3b76c8;
    padding: .8em .5em;
}
.thread-container > div#thread-container-posts > .post-container:nth-child(even) > .post .head {
    padding: 0.5em 1em;
    background: linear-gradient(to right, #fafafa, #fff9e8);
    box-shadow: inset 2px 3px 6px rgb(255 161 64 / 15%);
    border-radius: 0px 2px 17px 0px;
    border: 2px solid #fff5e3;
    border-left: 3px solid #ff4a0b;
}
.thread-container >  div#thread-container-posts > .post-container:nth-child(even) > .post.folded .short {
    background: linear-gradient(to right, #fafafa, #fff9e8);
    box-shadow: inset 2px 3px 6px rgb(255 161 64 / 15%);
    border-radius: 0px 2px 17px 0px;
    border: 2px solid #fff5e3;
    border-left: 3px solid #ff4a0b;
    padding: .8em .5em;
}
.thread-container .post .long .content {
    background: rgb(var(--scale-8));
    border: 1px solid #eee;
    box-shadow: -2px -2px 3px 0px #8b8b8b87, 2px 2px 2px 0px #909090;
    padding-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}
.thread-container .post .long .head .info {
    padding: .5em 0;
}
#thread-description {
    min-height: calc(100vh/8.5);
}
.signature {
    display: none !important;
}
/* TOOLS BAR */
#new-thread-form .wd-editor-toolbar-panel, div#np-editor-panel {
    grid-gap: .125em;
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit,minmax(1fr,var(--icon-size)));
    grid-template-areas: "header-h1 bold-txt italic-txt underline-txt strike-txt super-txt sub-txt raw-txt teletype-txt . ordered-list unordered-list increment-list decrement-list . quote-block hr-txt div-block code-block code-wizard html-block create-table" "url-txt url-wizard page-link-txt page-link-wizard image-block image-wizard . create-footnote create-toc definition-list bibliography bib-cite clear-all-fl . math-block math-inline equation-ref . . . . .";
    grid-auto-rows: var(--icon-size);
    grid-auto-columns: var(--icon-size);
    grid-auto-flow: row;
    grid-area: toolbar;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: fit-content;
    height: 100%;
    margin: .5em auto;
    padding: 0;
    gap: .125em;
    background-color: transparent;
    box-shadow: none
}
@media (orientation: portrait),only screen and (max-width:30rem) {
    #new-thread-form .wd-editor-toolbar-panel, div#np-editor-panel {
        grid-template-areas:"header-h1 bold-txt italic-txt underline-txt strike-txt super-txt sub-txt raw-txt teletype-txt . ordered-list unordered-list increment-list decrement-list" "quote-block hr-txt div-block code-block code-wizard html-block create-table . url-txt url-wizard page-link-txt page-link-wizard image-block image-wizard" ". . create-footnote create-toc definition-list bibliography bib-cite clear-all-fl . math-block math-inline equation-ref . .";
        justify-content: center
    }
}

.wd-editor-toolbar-panel div {
    display: contents
}
.wd-editor-toolbar-panel li.hseparator {
    display: none
}
.wd-editor-toolbar-panel div>ul {
    display: contents
}
.wd-editor-toolbar-panel div>ul>li {
    position: relative;
    height: 100%;
    margin: 0
}
.wd-editor-toolbar-panel div>ul>li>ul {
    --clip-path: polygon(0 0,0 0,0 100%,0 100%);
    -webkit-clip-path: var(--clip-path);
    display: grid;
    top: 0;
    left: var(--icon-size);
    grid-template-columns: repeat(auto-fit,var(--icon-size));
    grid-auto-columns: var(--icon-size);
    grid-auto-flow: column;
    height: var(--icon-size);
    padding-left: 0;
    overflow: hidden;
    border: none;
    background-color: transparent;
    box-shadow: inset 0 0 0 0 transparent;
    clip-path: var(--clip-path);
    pointer-events: none;
    transition: box-shadow .1s var(--standard-curve) .25s,padding-left .1s var(--standard-curve) .25s,-webkit-clip-path .2s var(--standard-curve);
    transition: clip-path .2s var(--standard-curve),box-shadow .1s var(--standard-curve) .25s,padding-left .1s var(--standard-curve) .25s;
    transition: clip-path .2s var(--standard-curve),box-shadow .1s var(--standard-curve) .25s,padding-left .1s var(--standard-curve) .25s,-webkit-clip-path .2s var(--standard-curve)
}
.wd-editor-toolbar-panel div>ul>li.sfhover>ul,.wd-editor-toolbar-panel div>ul>li:active>ul,.wd-editor-toolbar-panel div>ul>li:hover>ul {
    --clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    left: var(--icon-size);
    padding-left: .125em;
    box-shadow: inset .125em 0 0 0 transparent;
    pointer-events: all;
    transition: box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms;
    transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve);
    transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms
}
.wd-editor-toolbar-panel div>ul>li:focus-within>ul {
    --clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    left: var(--icon-size);
    padding-left: .125em;
    box-shadow: inset .125em 0 0 0 transparent;
    pointer-events: all;
    transition: box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms;
    transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve);
    transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms
}
.wd-editor-toolbar-panel a {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    background-image: none;
    background-position: 0 0;
    background-color: rgb(var(--editor-icon-bg))
}
.wd-editor-toolbar-panel div>ul>li>ul a {
    background-color: rgb(var(--editor-icon-submenu-bg))
}
.wd-editor-toolbar-panel a:after,.wd-editor-toolbar-panel a:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: ""
}
.wd-editor-toolbar-panel a:before {
    -webkit-mask-image: var(--edit-menu-mask);
    -webkit-mask-size: calc(var(--icon-size)*.8);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    z-index: 1;
    width: 100%;
    background-color: rgb(var(--editor-icon-color));
    mask-image: var(--edit-menu-mask);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: calc(var(--icon-size)*.8);
    transition: background-color .15s var(--standard-curve)
}
.wd-editor-toolbar-panel li:active>a:before,.wd-editor-toolbar-panel li:hover>a:before {
    background-color: rgb(var(--editor-icon-hover-color))
}
.wd-editor-toolbar-panel>li:focus-within a:before {
    background-color: rgb(var(--editor-icon-hover-color))
}
.wd-editor-toolbar-panel a:after {
    --clip-path: polygon(0 0,0 0,0 100%,0 100%);
    -webkit-clip-path: var(--clip-path);
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--editor-icon-hover-bg));
    clip-path: var(--clip-path);
    opacity: 1;
    pointer-events: none;
    transition: -webkit-clip-path .2s var(--standard-curve);
    transition: clip-path .2s var(--standard-curve);
    transition: clip-path .2s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve)
}
.wd-editor-toolbar-panel li:active>a:after,.wd-editor-toolbar-panel li:hover>a:after {
    --clip-path: polygon(-15% 0,115% 0,100% 100%,0 100%)
}
.wd-editor-toolbar-panel li:focus-within a:after {
    --clip-path: polygon(-15% 0,115% 0,100% 100%,0 100%)
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:first-of-type {
    grid-area: header-h1
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(2) {
    grid-area: bold-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(3) {
    grid-area: italic-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(4) {
    grid-area: underline-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(5) {
    grid-area: strike-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(6) {
    grid-area: teletype-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(7) {
    grid-area: quote-block
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(8) {
    grid-area: super-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(9) {
    grid-area: sub-txt
}
.wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(10) {
    grid-area: raw-txt
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:first-of-type {
    grid-area: hr-txt
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(2) {
    grid-area: div-block
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(3) {
    grid-area: clear-all-fl
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(4) {
    grid-area: create-table
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(5) {
    grid-area: create-toc
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(7) {
    grid-area: code-block
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(8) {
    grid-area: code-wizard
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(10) {
    grid-area: url-txt
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(11) {
    grid-area: url-wizard
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(12) {
    grid-area: page-link-txt
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(13) {
    grid-area: page-link-wizard
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(15) {
    grid-area: image-block
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(16) {
    grid-area: image-wizard
}
.wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(18) {
    grid-area: html-block
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:first-of-type {
    grid-area: ordered-list
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(2) {
    grid-area: unordered-list
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(3) {
    grid-area: increment-list
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(4) {
    grid-area: decrement-list
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(5) {
    grid-area: definition-list
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(6) {
    grid-area: create-footnote
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(8) {
    grid-area: math-block
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(9) {
    grid-area: math-inline
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(10) {
    grid-area: equation-ref
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(12) {
    grid-area: bibliography
}
.wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(13) {
    grid-area: bib-cite
}
.wd-editor-toolbar-panel a.weditor-h1:before {
    --edit-menu-mask: var(--h1-mask)
}
.wd-editor-toolbar-panel a.weditor-h2:before {
    --edit-menu-mask: var(--h2-mask)
}
.wd-editor-toolbar-panel a.weditor-h3:before {
    --edit-menu-mask: var(--h3-mask)
}
.wd-editor-toolbar-panel a.weditor-h4:before {
    --edit-menu-mask: var(--h4-mask)
}
.wd-editor-toolbar-panel a.weditor-h5:before {
    --edit-menu-mask: var(--h5-mask)
}
.wd-editor-toolbar-panel a.weditor-h6:before {
    --edit-menu-mask: var(--h6-mask)
}
.wd-editor-toolbar-panel a.weditor-bold:before {
    --edit-menu-mask: var(--bold-mask)
}
.wd-editor-toolbar-panel a.weditor-italic:before {
    --edit-menu-mask: var(--italic-mask)
}
.wd-editor-toolbar-panel a.weditor-underline:before {
    --edit-menu-mask: var(--underline-mask)
}
.wd-editor-toolbar-panel a.weditor-strikethrough:before {
    --edit-menu-mask: var(--strikethrough-mask)
}
.wd-editor-toolbar-panel a.weditor-teletype:before {
    --edit-menu-mask: var(--teletype-mask)
}
.wd-editor-toolbar-panel a.weditor-quote:before {
    --edit-menu-mask: var(--quote-mask)
}
.wd-editor-toolbar-panel a.weditor-superscript:before {
    --edit-menu-mask: var(--superscript-mask)
}
.wd-editor-toolbar-panel a.weditor-subscript:before {
    --edit-menu-mask: var(--subscript-mask)
}
.wd-editor-toolbar-panel a.weditor-raw:before {
    --edit-menu-mask: var(--rawtext-mask)
}
.wd-editor-toolbar-panel a.weditor-hr:before {
    --edit-menu-mask: var(--hr-mask)
}
.wd-editor-toolbar-panel a.weditor-div:before {
    --edit-menu-mask: var(--divblock-mask)
}
.wd-editor-toolbar-panel a.weditor-clearfloat:before {
    --edit-menu-mask: var(--clearfloat-mask)
}
.wd-editor-toolbar-panel a.weditor-clearfloatleft:before {
    --edit-menu-mask: var(--clearfloatleft-mask)
}
.wd-editor-toolbar-panel a.weditor-clearfloatright:before {
    --edit-menu-mask: var(--clearfloatright-mask)
}
.wd-editor-toolbar-panel a.weditor-table:before {
    --edit-menu-mask: var(--table-mask)
}
.wd-editor-toolbar-panel a.weditor-toc:before {
    --edit-menu-mask: var(--toc-mask)
}
.wd-editor-toolbar-panel a.weditor-code:before {
    --edit-menu-mask: var(--codeblock-mask)
}
.wd-editor-toolbar-panel a.weditor-codewiz:before {
    --edit-menu-mask: var(--codewiz-mask)
}
.wd-editor-toolbar-panel a.weditor-uri:before {
    --edit-menu-mask: var(--url-mask)
}
.wd-editor-toolbar-panel a.weditor-uriwiz:before {
    --edit-menu-mask: var(--urlwiz-mask)
}
.wd-editor-toolbar-panel a.weditor-pagelink:before {
    --edit-menu-mask: var(--pagelink-mask)
}
.wd-editor-toolbar-panel a.weditor-pagelinkwiz:before {
    --edit-menu-mask: var(--pagelinkwiz-mask)
}
.wd-editor-toolbar-panel a.weditor-image:before {
    --edit-menu-mask: var(--imageblock-mask)
}
.wd-editor-toolbar-panel a.weditor-imagewiz:before {
    --edit-menu-mask: var(--imagewiz-mask)
}
.wd-editor-toolbar-panel a.weditor-html:before {
    --edit-menu-mask: var(--htmlblock-mask)
}
.wd-editor-toolbar-panel a.weditor-numlist:before {
    --edit-menu-mask: var(--ordered-list-mask)
}
.wd-editor-toolbar-panel a.weditor-bullist:before {
    --edit-menu-mask: var(--unordered-list-mask)
}
.wd-editor-toolbar-panel a.weditor-incindent:before {
    --edit-menu-mask: var(--inc-list-mask)
}
.wd-editor-toolbar-panel a.weditor-decindent:before {
    --edit-menu-mask: var(--dec-list-mask)
}
.wd-editor-toolbar-panel a.weditor-deflist:before {
    --edit-menu-mask: var(--def-list-mask)
}
.wd-editor-toolbar-panel a.weditor-footnote:before {
    --edit-menu-mask: var(--footnote-mask)
}
.wd-editor-toolbar-panel a.weditor-math:before {
    --edit-menu-mask: var(--math-mask)
}
.wd-editor-toolbar-panel a.weditor-mathinline:before {
    --edit-menu-mask: var(--inline-math-mask)
}
.wd-editor-toolbar-panel a.weditor-eqref:before {
    --edit-menu-mask: var(--eq-def-mask)
}
.wd-editor-toolbar-panel a.weditor-bib:before {
    --edit-menu-mask: var(--bib-mask)
}
.wd-editor-toolbar-panel a.weditor-bibcite:before {
    --edit-menu-mask: var(--bib-cite-mask)
}
#wd-editor-toolbar-panel+div {
    position: relative;
    grid-area: editbox;
    padding: auto;
    padding-bottom: 1.25em;
    box-shadow: none
}