/* TABLE */
table.wiki-content-table {
    border-collapse: separate;
    border-spacing: 2px 2px;
    margin: 0.5em auto;
}
table.wiki-content-table td {
    border: none;
    padding: 0.3em 0.7em;
    box-shadow: 0 0 3px rgb(var(--scale-0));
    -webkit-backdrop-filter: blur(1px) brightness(1.5);
    backdrop-filter: blur(1px) brightness(1.5);
}
table.wiki-content-table th {
    border: 1px solid rgb(var(--table-head-border));
    padding: 0.3em 0.7em;
    background-color: rgb(var(--table-head-bg));
    color: rgb(var(--scale-8));
    box-shadow: 0 0 3px 0px rgb(var(--scale-0));
}
.ruby,ruby {
    display: inline-table;
    height: 1em;
    line-height: 1;
    text-indent: 0;
    vertical-align: text-bottom
  }
.rt,.ruby,rt,ruby {
    text-align: center;
    white-space: nowrap
}
.rt,rt {
    display: table-header-group;
    font-size: .6em;
    line-height: 1.1
}
/* FOOTNOTE */
sup.footnoteref {
    padding: 2px;
}
a.footnoteref, a.bibcite {
    text-indent: initial;
    -webkit-text-stroke: .5px rgb(var(--undertone));
    border-bottom: none;
    transition: all .2s var(--standard-curve);
}
a.footnoteref:hover, a.bibcite:hover {
    mix-blend-mode: darken;
    -webkit-text-stroke: 1px rgb(var(--undertone));
    transition: all.2s var(--standard-curve);
}
.bibitems,.footnotes-footer {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 95%;
    height: auto;
    margin: 1.5rem auto .5rem;
    padding: .15em 1em 1em 0;
    background-color: rgb(var(--footnotes-footer-bg-color));
    box-shadow: inset .5em 0 0 0 rgb(var(--footnotes-footer-colorbar-color));
    color: rgb(var(--footnotes-footer-text-color))
}
.footnotes-footer {
    counter-reset: footnotes 0
}
.bibitems {
    counter-reset: bibitems 0
}
.bibitems .title, .footnotes-footer .title {
    display: inline-flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: -.75em;
    padding: 0 .5em;
    background-color: rgb(var(--footnotes-footer-title-bg-color));
    color: rgb(var(--footnotes-footer-title-text-color));
    font-weight: 700;
    font-size: 1.25em;
    align-items: center;
    justify-content: flex-start;
}
.footnotes-footer .footnote-footer {
    margin: .25em 0 0 6ch
}
.bibitems .bibitem {
    margin: .5em 0 0 5ch;
    padding-left:0;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
.bibitems .bibitem:first-letter {
    font-size: 0
}
.bibitems .bibitem:after, .footnotes-footer a[onclick*=scrollToReference i] {
    border-left: 0px solid transparent;
    border-bottom: none;transition: all .4s var(--standard-curve);
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve)
}
.bibitems .bibitem:hover:after, .footnotes-footer a[onclick*=scrollToReference i]:hover {
    border-left: .25rem solid rgb(var(--link-hover-color));
    border-bottom: none;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
.bibitems .bibitem:hover {
    padding-left: .25rem;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
.footnotes-footer a[onclick*=scrollToReference i],.footnotes-footer a[onclick*=scrollToReference i]:visited {
    --MONO: 1;
    --wght: calc(var(--ui-wght) + 100);
    display: inline-flex;
    position: relative;
    min-width: 2ch;
    margin: 0 0 0 -3ch;
    color: transparent;
    font-weight: var(--wght);
    font-family: var(--Mono-font)
}
.bibitems .bibitem:after, .footnotes-footer a[onclick*=scrollToReference i]:before {
    --wght: calc(var(--ui-wght) + 100);
    display: inline-flex;
    z-index: 2;
    position: absolute;
    top: 0;
    right: -20%;
    width: 120%;
    background-color: rgb(var(--footnotes-footer-bg-color));
    font-weight: var(--wght);
    font-family: var(--Mono-font);
}
.footnotes-footer a[onclick*=scrollToReference i]:before {
    display: inline-flex;
    justify-content: flex-end;
    content: counter(footnotes) ".";
    color: rgb(var(--footnotes-footer-num-color));
    counter-increment: footnotes;
    transition: color .15s var(--standard-curve),font-weight .2s var(--standard-curve)
}
@supports (font-feature-settings: inherit) {
    .footnotes-footer a[onclick*=scrollToReference i]:before {
        transition:color .15s var(--standard-curve),font-variation-settings .2s var(--standard-curve)
    }
}
.footnotes-footer a[onclick*=scrollToReference i]:active:before,.footnotes-footer a[onclick*=scrollToReference i]:hover:before {
    --wght: calc(var(--ui-hvr-wght) + 100);
    color: rgb(var(--footnotes-footer-num-hover-color));
    font-weight: var(--wght)
}
.footnotes-footer a[href*=scrollToReference i]:focus-within:before {
    --wght: calc(var(--ui-hvr-wght) + 100);
    color: rgb(var(--footnotes-footer-num-hover-color));
    font-weight: var(--wght)
}
.footnotes-footer .footnote-footer:nth-child(n+11) > :is(.footnotes-footer a[onclick*=scrollToReference i], .footnotes-footer a[onclick*=scrollToReference i]:visited) {
    padding-left: calc(1ch - 0.15em);
}
.bibitems .bibitem {
    position: relative
}
.bibitems .bibitem:after {
    left: 0;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: -.15em 0 0 -2ch;
    padding-left:2px;
    content: counter(bibitems) ".";
    color: rgb(var(--footnotes-footer-num-color));
    counter-increment: bibitems
}
.bibitems .bibitem:hover:after {
    cursor: pointer;
    color: rgb(var(--footnotes-footer-num-hover-color))
}
.bibitems .bibitem:nth-child(n+11):after {
    width: calc(1em + .75ch);
    margin: 0 0 0 -2em
}
#history-form-1 {
    margin-top: 1.5rem
}
#history-form-1>table>tbody {
    display: grid;
    grid-template-columns: 1fr 8.5rem
}
#history-form-1>table>tbody>tr {
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    width: 100%
}
#history-form-1>table>tbody>tr>td:first-of-type {
    --wght: var(--ui-hvr-wght);
    display: flex;
    align-items: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 1.5em;
    padding: .25em;
    background-color: rgb(var(--list-head));
    color: rgb(var(--click-dot));
    font-weight: var(--wght);
    font-size: .85em
}
#history-form-1>table>tbody>tr:nth-child(2) {
    justify-content: flex-end
}
#history-form-1>table>tbody>tr>td:nth-of-type(2) {
    height: 100%;
    padding: .5em 0;
    box-shadow: 0 -.125rem 0 0 rgb(var(--list-head))
}
#history-form-1>table>tbody>tr:nth-child(2)>td:nth-of-type(2) {
    display: flex;
    align-items: flex-start;
    justify-content: center
}
#history-form-1>table>tbody>tr:first-child>td:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(3,3rem 1fr);
    grid-auto-flow: row;
    width: 100%;
    text-indent: -.5ch
}
@media only screen and (max-width: 767px) {
    #history-form-1>table>tbody>tr:first-child>td:nth-of-type(2) {
        display: grid;
        grid-template-columns: repeat(2,3rem 1fr);
        grid-auto-flow: row;
        width: 100%;
        text-indent: -1ch;
    }
}
#history-form-1>table>tbody>tr:first-child>td:nth-of-type(2) input {
    margin-left: 50%;
}
table.page-history {
    width: 100%
}
table.page-history tr[id*=evision-row] {
    display: grid;
    grid-template-rows: 2rem 1fr;
    grid-template-columns: 2.5rem 2.5rem 3rem 4.625rem 1fr 1fr;
    grid-template-areas:
        "rev-num rev-radio rev-flags rev-actions rev-user rev-date"
        "rev-com rev-com rev-com rev-com rev-com rev-com";
    padding: 0 0 .5em;
    font-family: 'Zuijin','Noto Serif SC';
}
table.page-history tr:nth-child(n+3) {
    padding: .5em 0
}
table.page-history tr[id*=evision-row] td:first-of-type {
    grid-area: rev-num
}
table.page-history tr[id*=evision-row] td:nth-of-type(2) {
    grid-area: rev-radio
}
table.page-history tr[id*=evision-row] td:nth-of-type(3) {
    grid-area: rev-flags
}
table.page-history tr[id*=evision-row] td:nth-of-type(4) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: rev-actions
}
table.page-history tr[id*=evision-row] td:nth-of-type(5) {
    grid-area: rev-user
}
table.page-history tr[id*=evision-row] td:nth-of-type(6) {
    grid-area: rev-date;
    padding: 0!important
}
table.page-history tr td:nth-of-type(7) {
    grid-area: rev-com;
    width: calc(100% - 2em)!important;
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
}
table.page-history tr td:nth-of-type(7):before {
    content: var(--variation-txt);
    text-align: left;
    display: flex;
    font-family: var(--Serif-font);
    min-width: 4rem;
    justify-content: center
}
table.page-history tr:first-of-type {
    display: none
}
table.page-history tr:nth-of-type(2) {
    padding-top: 3em
}
table.page-history tr:nth-of-type(odd) {
    background-color: rgb(var(--check-box-border),.2)
}
table.page-history tr td {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%!important
}
table.page-history td.optionstd a {
    --wght: var(--ui-wght);
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 1rem;
    margin: 0 auto;
    padding: .125rem;
    overflow: hidden;
    border: .0625rem solid rgb(var(--ui-button-hover-outline),.05);
    outline: 0 solid rgb(var(--ui-button-hover-outline));
    background-color: rgb(var(--ui-button-bg));
    box-shadow: 0 0 0 0 rgb(var(--ui-button-bg));
    color: rgb(var(--ui-button-txt));
    font-weight: var(--wght);
    transition: border-color .2s var(--standard-curve),box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: border-color,box-shadow,color,background-color,font-weight,font-variation-settings
}
table.page-history td.optionstd a:active,table.page-history td.optionstd a:hover {
    --wght: var(--ui-hvr-wght);
    border-color: transparent;
    outline: 0 solid rgb(var(--ui-button-hover-outline));
    background-color: rgb(var(--ui-button-hover-bg));
    box-shadow: 0 0 0 .025rem rgb(var(--ui-button-hover-outline));
    color: rgb(var(--ui-button-hover-txt));
    font-weight: var(--wght);
    text-shadow: none;
    text-decoration: none;
    cursor: pointer
}
table.page-history td.optionstd a:focus-within {
    --wght: var(--ui-hvr-wght);
    border-color: transparent;
    outline: 0 solid rgb(var(--ui-button-hover-outline));
    background-color: rgb(var(--ui-button-hover-bg));
    box-shadow: 0 0 0 .125rem rgb(var(--ui-button-hover-outline));
    color: rgb(var(--ui-button-hover-txt));
    font-weight: var(--wght);
    text-decoration: none;
    cursor: pointer
}
table.page-history tr:nth-of-type(2) td:not(:nth-of-type(7)):before {
    --wght: 600;
    display: flex;
    position: absolute;
    top: calc(-100% - .5em);
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--table-head));
    color: rgb(var(--table-text));
    font-weight: var(--wght);
    text-transform: uppercase
}
.spantip {
    font-family: 'Julius Sans One';
    font-weight: 900;
    background: rgb(var(--dark-secondary-color));
    width: 1em;
    height: 1em;
    color: rgb(var(--scale-8));
    text-align: center;
    padding: .125em;
    margin: .125rem;
    text-decoration: none;
    box-shadow: 0 0 3px rgb(var(--scale-0));
    -webkit-text-stroke: .5px #fff0;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve)
}
.spantip:hover {
    text-decoration: none;
    background: rgb(var(--dark-primary-color));
    color: rgb(var(--scale-8));
    box-shadow: 0 0 2px rgb(var(--scale-0));
    -webkit-text-stroke: .5px rgb(var(--scale-8));
}
input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    appearance: none;
    position: relative;
    width: 1em;
    height: 1em;
    border: .0625rem solid rgb(var(--check-box-border));
    outline: 1px solid rgb(var(--checked-box-border),.5);
    background-color: initial;
    cursor: pointer;
    transition: box-shadow .2s var(--standard-curve),border-color .15s var(--standard-curve);
    will-change: box-shadow,border-color
}
input[type=checkbox]:after,input[type=checkbox]:before {
    --clip-path: polygon(0 0,100% 0,100% 0,0 0);
    -webkit-clip-path: var(--clip-path);
    display: inline-block;
    position: absolute;
    width: 20%;
    height: 0;
    transform-origin: left top;
    background-color: rgb(var(--check-box-shadow),0);
    box-shadow: 0 0 0 0 rgb(var(--check-box-shadow));
    content: " ";
    clip-path: var(--clip-path);
    will-change: box-shadow,border-color
}
input[type=checkbox]:before {
    top: 75%;
    left: 40%;
    height: 150%;
    transform: rotate(-135deg);
    transition: background-color 50ms var(--standard-curve) 50ms,box-shadow .15s var(--standard-curve),clip-path .15s var(--standard-curve),-webkit-clip-path .15s var(--standard-curve)
}
input[type=checkbox]:after {
    top: 40%;
    left: 5%;
    height: 50%;
    transform: rotate(-45deg);
    transition: background-color 50ms var(--standard-curve) .2s,box-shadow .15s var(--standard-curve) .15s,clip-path .15s var(--standard-curve) .15s,-webkit-clip-path .15s var(--standard-curve) .15s
}
input[type=checkbox]:checked {
    border-color: rgb(var(--checked-box-border));
    outline: 0 solid rgb(var(--checked-box-border));
    box-shadow: 0 0 0 .125rem rgb(var(--check-box-shadow))
}
input[type=checkbox]:checked:after,input[type=checkbox]:checked:before {
    --clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    background-color: rgb(var(--check-box-shadow));
    box-shadow: 0 0 0 .05em rgb(var(--check-box-shadow))
}
input[type=checkbox]:checked:before {
    transition: background-color 50ms var(--standard-curve) .2s,box-shadow .15s var(--standard-curve) .15s,clip-path 159ms var(--standard-curve) .15s,-webkit-clip-path 159ms var(--standard-curve) .15s
}
input[type=checkbox]:checked:after {
    transition: background-color 50ms var(--standard-curve) 50ms,box-shadow .15s var(--standard-curve),clip-path .15s var(--standard-curve),-webkit-clip-path .15s var(--standard-curve)
}
input[type=radio],input[type=radio] * {
    box-sizing: border-box;
    padding: 0;
    overflow: hidden;
    outline: 0
}
input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    display: grid;
    appearance: none;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
    border: none;
    border-radius: 50%;
    outline: 0 solid transparent;
    background: rgb(var(--check-dot));
    box-shadow: 0 0 0 .0625rem rgb(var(--check-dot-shadow));
    font-size: 100%;
    cursor: pointer
}
input[type=radio]:after,input[type=radio]:before {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    justify-self: center
}
input[type=radio]:before,input[type=radio]:not(:checked):before {
    width: .3625rem;
    height: .3625rem;
    border-radius: 50%;
    background: rgb(var(--check-dot));
    content: "";
    transition: all .2s var(--standard-curve)
}
input[type=radio]:after {
    width: 1em;
    height: 1em;
    transform: scale(0);
    border-radius: 50%;
    background: rgb(var(--check-box-border),.5);
    content: "";
    outline: .5em solid #36326a;
    box-shadow: inset 0 0 0 1px #000;
}
input[type=radio]:checked {
    outline: 0 solid rgb(var(--check-dot));
    background: rgb(var(--click-dot));
    box-shadow: 0 0 0 .0625rem rgb(var(--check-dot-shadow)),inset 0 0 0 .0625rem rgb(var(--check-dot-shadow));
    transition: all .2s var(--standard-curve)
}
input[type=radio]:checked:after {
    transform: scale(1);
    background: transparent;
    transition: all .5s
}
input[type=radio]:checked:before {
    width: .5em;
    height: .5em;
    background: rgb(var(--checked-box-border));
    transition: all .2s
}
.pager {
    --wght: var(--ui-wght);
    grid-gap: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1em,1fr));
    margin: 0 1em;
    gap: 0;
    box-shadow: 0 .125rem 0 0 rgb(var(--pager-selected-bg));
    color: rgb(var(--pager-text));
    font-weight: var(--wght);
    white-space: nowrap
}
.pager span,.pager span * {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.pager span {
    transition: background-color .2s var(--standard-curve),color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve)
}
.pager .pager-no {
    grid-column: 1/span 4;
    justify-self: flex-start;
    text-transform: uppercase
}
.pager span.pager-no + .target a:is([onclick*="updatePagedList" i],[onclick*="updateList" i],[onclick*="updateMemberList" i]), .pager .target:last-of-type a:is([onclick*="updatePagedList" i],[onclick*="updateList" i],[onclick*="updateMemberList" i]) {
    font-size:0;
}
.pager span.pager-no + .target a:is([onclick*="updatePagedList" i],[onclick*="updateList" i],[onclick*="updateMemberList" i]):before {
    content: "\25C0 \25C0";
    font-size: 0.7rem;
    letter-spacing: -.4rem;
}
.pager .target:last-of-type a:is([onclick*="updatePagedList" i],[onclick*="updateList" i],[onclick*="updateMemberList" i]):before {
    content: "\25B6 \25B6";
    font-size: 0.7rem;
    letter-spacing: -.4rem;
}
.pager .current {
    --wght: var(--ui-hvr-wght);
    color: rgb(var(--pager-selected-link));
    font-weight: var(--wght)
}
.pager .current, .pager .current:before {
    background-color: rgb(var(--pager-selected-bg));
    color: rgb(var(--link-newpage-color));
    border:none
}
.pager .current:before {
    position: absolute;
    bottom: 0;
    width: 1.5em;
    height: 1.5em;
    content: ""
}
.pager .current:not(:last-of-type):before {
    --clip-path: polygon(102% 0,0 102%,102% 102%);
    -webkit-clip-path: var(--clip-path);
    left: -1.5em;
    clip-path: var(--clip-path);
    z-index: 2
}
.pager .current:last-of-type {
    width: calc(100% - 1.5em)
}
.pager .current:last-of-type:before {
    --clip-path: polygon(0 0,0 100%,100% 100%);
    -webkit-clip-path: var(--clip-path);
    right: -1.5em;
    clip-path: var(--clip-path)
}
.pager a {
    z-index: 2;
    width: 100%;
    overflow: hidden;
    transition: color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve)
}
.paged a:visited,.pager a {
    color: rgb(var(--pager-link));
    border: none;
}
.pager a:active,.pager a:hover {
    --wght: var(--ui-hvr-wght);
    color: rgb(var(--pager-link-hover));
    font-weight: var(--wght);
    text-decoration: none;
    border: none;
}
.pager a:focus-within {
    --wght: var(--ui-hvr-wght);
    color: rgb(var(--pager-link-hover));
    font-weight: var(--wght);
    text-decoration: none
}
.pager a:after {
    --clip-path: polygon(0 100%,100% 115%,100% 100%,0 115%);
    -webkit-clip-path: var(--clip-path);
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--pager-hover-bg));
    content: " ";
    clip-path: var(--clip-path);
    pointer-events: none;
    transition: -webkit-clip-path .2s var(--standard-curve);
    transition: clip-path .2s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve)
}
.pager a:active:after,.pager a:hover:after {
    --clip-path: polygon(0 100%,100% 115%,100% 0,0 -15%)
}
.pager a:focus-within:after {
    --clip-path: polygon(0 100%,100% 115%,100% 0,0 -15%)
}
span.printuser {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin-right: 0
}
#main-content span.printuser {
    align-items: flex-start;
    text-indent: 0;
}
span.printuser a:first-of-type,span.printuser.deleted img {
    display: inline-block;
    height: 1em;
    margin: 0 .125rem 0 0
}
span.printuser.avatarhover a:first-of-type,span.printuser.deleted img {
    width: 1.75em
}
span.printuser img.small {
    width: calc(100% - .05625em);
    padding: 0 0 0 calc(.5625em - 1px);
    object-fit: contain;
    object-position: left center;
    background-position: 0;
    background-size: cover;
    color: transparent
}
#main-content span.printuser img.small {
    width: calc(115% - .5625em)
}
span.printuser img.small:before {
    display: block;
    padding-bottom: 100%;
    content: ""
}
span.printuser.deleted img {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content
}
a.avatar-hover,a.avatar-hover:hover {
    z-index: 10
}
#page-version-info {
    z-index: 1
}
table.page-history tr:nth-of-type(2) td:first-of-type:before {
    content: var(--version-txt)
}
table.page-history tr:nth-of-type(2) td:nth-of-type(2):before {
    content: var(--compare-txt);
    font-size: .6rem;
    top: calc(-100% - .4rem);
}
table.page-history tr:nth-of-type(2) td:nth-of-type(3):before {
    content: var(--flag-txt)
}
table.page-history tr:nth-of-type(2) td:nth-of-type(4):before {
    content: var(--behavior-txt)
}
table.page-history tr:nth-of-type(2) td:nth-of-type(5):before {
    content: var(--editor-txt)
}
table.page-history tr:nth-of-type(2) td:nth-of-type(6):before {
    content: var(--edit-time-txt)
}
div.inline-diff del {
    background-color: rgb(255 142 0 / 50%)
}
div.inline-diff ins {
    background-color: rgb(0 255 253 / 25%)
}
.page-compare tr:first-child th:first-child {
    background: #fff0 url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><line x1="0" y1="0" x2="100%" y2="100%" stroke="%23333" stroke-width="1"/></svg>') no-repeat 100% center;
}
.page-compare tr:first-child th:first-child:before {
    content: var(--version-txt);
    display:flex;
    justify-content: flex-end;
    transform:translateX(6px)
}
.page-compare tr:first-child th:first-child:after {
    content: var(--behavior-txt);
    display:flex;
    justify-content: flex-start;
    transform:translateX(-6px)
}
.page-compare td, .page-compare th {
    border-color:rgb(var(--scale-2)) !important
}
table.page-files tbody {
    display: contents
}
table.page-files tr {
    display: grid;
    position: relative;
    width: 100%
}
table.page-files tbody tr:before {
    position: absolute;
    top: 0;
    left: -.5%;
    width: 101%;
    height: 101%;
    background-color: rgb(var(--checked-box-border),0);
    content: ""
}
table.page-files thead tr,table.page-files tr[id*=file-row] {
    grid-template-columns: 1.5fr 1.5fr 1fr 2fr;
    padding: .5em 0
}
table.page-files tr[id*=file-options] {
    grid-template-columns: 0 0 0 1fr;
    margin-top: 0;
    padding: 0 0 .5em
}
table.page-files tr[id*=file-row]:nth-of-type(odd),table.page-files tr[id*=file-row]:nth-of-type(odd)+.highlight,table.page-files tr[id*=file-row]:nth-of-type(odd)+table.page-files tr[id*=file-options] {
    background-color: rgb(var(--check-box-border),.2)
}
table.page-files tr[id*=file-options]~tr[id*=file-row]:nth-of-type(odd),table.page-files tr[id*=file-row]:nth-of-type(2n)+.highlight {
    background-color: initial
}
table.page-files tr[id*=file-options]~tr[id*=file-row]:nth-of-type(2n) {
    background-color: rgb(var(--check-box-border),.2)
}
table.page-files tbody tr td,table.page-files thead tr th {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center
}
table.page-files th {
    --wght: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--checked-box-border));
    color: rgb(var(--table-text));
    font-weight: var(--wght);
    text-transform: uppercase
}
table.page-files tr>td>a:not(.btn),table.page-files tr>td>a:visited:not(.btn) {
    --wght: var(--ui-wght);
    -webkit-text-decoration: underline rgb(var(--list-head)) .125em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-box-decoration-break: clone;
    display: flex;
    box-decoration-break: clone;
    align-items: center;
    padding: 0 .5em;
    background-color: initial;
    box-shadow: inset 0 0 0 0 rgb(var(--list-head));
    font-weight: var(--wght);
    hyphens: auto;
    text-align: center;
    text-decoration: underline rgb(var(--list-head)) .125em;
    word-break: break-word;
    transition: color .16s var(--standard-curve),font-weight .16s var(--standard-curve),font-variation-settings .16s var(--standard-curve),box-shadow .2s var(--standard-curve),text-decoration .2s var(--standard-curve),-webkit-text-decoration .2s var(--standard-curve)
}
table.page-files tr>td>a:not(.btn):active,table.page-files tr>td>a:not(.btn):hover {
    --wght: var(--ui-hvr-wght);
    -webkit-text-decoration: underline rgb(var(--checked-box-border)) 0;
    box-shadow: inset 0 -5em 0 0 rgb(var(--checked-box-border));
    color: rgb(var(--table-text));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--checked-box-border)) 0
}
table.page-files tr>td>a:not(.btn):focus-within {
    --wght: var(--ui-hvr-wght);
    -webkit-text-decoration: underline rgb(var(--checked-box-border)) 0;
    box-shadow: inset 0 -5em 0 0 rgb(var(--checked-box-border));
    color: rgb(var(--table-text));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--checked-box-border)) 0
}
table.page-files tbody tr td:not(.page-rate-widget-box):not(#search-top-box-form)>a.btn {
    margin: 0 .5em
}
#file-upload-form table,#file-upload-form table>*,#file-upload-form table>*>* {
    display: contents
}
#file-upload-form table.form {
    grid-gap: .5em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: .5em;
    max-width: 40em;
}
#file-upload-form table.form tr:nth-of-type(3) td {
    grid-column: span 1
}
#upload-userfile[type=file]::-webkit-file-upload-button {
    min-width: 5em;
    height: 2em;
    border: none;
    border-radius: 0;
}
#upload-userfile[type=file]::file-selector-button {
    min-width: 5em;
    height: 2em;
    border: none;
    border-radius: 0;
}
#upload-userfile[type=file] {
    --wght: var(--ui-wght);
    display: inline-flex;
    z-index: 2;
    position: relative;
    justify-content: center;
    min-width: 5em;
    height: 2em;
    padding: .25em;
    overflow: hidden;
    border: .0625rem solid rgb(var(--ui-button-hover-outline),.05);
    border-radius: 0;
    outline: 0 solid rgb(var(--ui-button-hover-outline));
    background-color: rgb(var(--ui-button-bg));
    box-shadow: 0 0 0 0 rgb(var(--ui-button-bg));
    color: rgb(var(--ui-button-txt));
    font-weight: var(--wght);
    font-family: var(--Deco-font);
    transition: border-color .15s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: border-color,color,background-color,font-weight,font-variation-settings
}
#upload-userfile[type=file]:active,#upload-userfile[type=file]:hover {
    --wght: var(--ui-hvr-wght);
    border-color: transparent;
    background-color: rgb(var(--ui-button-hover-bg));
    box-shadow: 0 0 0 .25em rgb(var(--ui-button-hover-outline));
    color: rgb(var(--ui-button-hover-txt));
    font-weight: var(--wght);
    text-decoration: none;
    cursor: pointer
}
#upload-userfile[type=file]:focus-within {
    --wght: var(--ui-hvr-wght);
    border-color: transparent;
    background-color: rgb(var(--ui-button-hover-bg));
    box-shadow: 0 0 0 .25em rgb(var(--ui-button-hover-outline));
    color: rgb(var(--ui-button-hover-txt));
    font-weight: var(--wght);
    text-decoration: none;
    cursor: pointer
}
#upload-userfile[type=file] {
    width: calc(95% + .5ch);
    padding: 0!important;
    cursor: pointer
}
#action-area>div[style="padding-left:3em;"] {
    padding: 1em 0!important
}
#action-area>div[style="padding-left:3em;"]>div {
    grid-gap: 1em;
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1em
}
#action-area a[onclick*=deleteTag] {
    --wght: var(--ui-wght);
    -webkit-text-decoration: underline rgb(var(--highlight-primary-color)) .0625rem;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    background-color: initial;
    box-shadow: inset 0 0 0 0 rgb(var(--highlight-primary-color));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--highlight-primary-color)) .0625rem;
    transition: color .16s var(--standard-curve),font-weight .16s var(--standard-curve),font-variation-settings .16s var(--standard-curve),box-shadow .2s var(--standard-curve),text-decoration .2s var(--standard-curve),-webkit-text-decoration .2s var(--standard-curve)
}
#action-area a[onclick*=deleteTag]:not(.btn):active,#action-area a[onclick*=deleteTag]:not(.btn):hover {
    --wght: var(--ui-hvr-wght);
    -webkit-text-decoration: underline rgb(var(--undertone)) 0;
    box-shadow: inset 0 -2em 0 0 rgb(var(--undertone));
    color: rgb(var(--bright-primary-color));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--undertone)) 0
}

#action-area a[onclick*=deleteTag]:not(.btn):focus-within {
    --wght: var(--ui-hvr-wght);
    -webkit-text-decoration: underline rgb(var(--undertone)) 0;
    box-shadow: inset 0 -2em 0 0 rgb(var(--undertone));
    color: rgb(var(--bright-primary-color));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--undertone)) 0
}
#edit-meta-newtag-form table {
    display: grid;
    grid-template-rows: 1.5em;
    grid-template-columns: repeat(2,-webkit-min-content 1fr) -webkit-min-content;
    grid-template-columns: repeat(2,min-content 1fr) min-content;
    width: 100%;
    max-width: 100%
}
#edit-meta-newtag-form table tbody,#edit-meta-newtag-form table td:nth-of-type(2),#edit-meta-newtag-form table td:nth-of-type(4),#edit-meta-newtag-form table tr {
    display: contents
}
#edit-meta-newtag-form table td {
    white-space: nowrap
}
#edit-meta-newtag-form>div {
    grid-gap: 2em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 2em;
    gap: 2em
}
#action-area a+h1+h2~ul li {
    text-align: left
}
#action-area a+h1+p+h2~div[style="padding-left:3em;"]>div {
    grid-template-columns: 5em 1fr;
    text-align: left
}
#action-area a+h1+p+h2~div[style="padding-left:3em;"]>div a {
    --wght: var(--ui-wght);
    -webkit-text-decoration: underline rgb(var(--highlight-primary-color)) .0625rem;
    display: inline-flex;
    align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0!important;
    padding: 0 1em;
    background-color: initial;
    box-shadow: inset 0 0 0 0 rgb(var(--highlight-primary-color));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--highlight-primary-color)) .0625rem;
    transition: color .16s var(--standard-curve),font-weight .16s var(--standard-curve),font-variation-settings .16s var(--standard-curve),box-shadow .2s var(--standard-curve),text-decoration .2s var(--standard-curve),-webkit-text-decoration .2s var(--standard-curve)
}
#action-area a+h1+p+h2~div[style="padding-left:3em;"]>div a:active,#action-area a+h1+p+h2~div[style="padding-left:3em;"]>div a:hover {
    --wght: var(--ui-hvr-wght);
    -webkit-text-decoration: underline rgb(var(--undertone)) 0;
    box-shadow: inset 0 -2em 0 0 rgb(var(--undertone));
    color: rgb(var(--bright-primary-color));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--undertone)) 0
}

#action-area a+h1+p+h2~div[style="padding-left:3em;"]>div a:focus-within {
    --wght: var(--ui-hvr-wght);
    -webkit-text-decoration: underline rgb(var(--undertone)) 0;
    box-shadow: inset 0 -2em 0 0 rgb(var(--undertone));
    color: rgb(var(--bright-primary-color));
    font-weight: var(--wght);
    text-decoration: underline rgb(var(--undertone)) 0
}
#action-area p + ul[style*="list-style: none"] {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(calc(var(--body-width-on-desktop)/12),1fr));
    grid-auto-flow: row;
    justify-items: start;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 20px;
    gap: 1em;
}
#action-area p:has(+ul[style="list-style: none"]) {
    font-size: 0;
}
#action-area p:has(+ul[style="list-style: none"]):before {
    content: var(--watchers-txt);
    font-size: 0.85rem;
}
#who-rated-page-area > div {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(12.5rem,1fr) 1.75rem);
    font-size: 0.9rem;
}
#who-rated-page-area>div span:nth-of-type(odd) {
    padding-inline-start: 0.75rem;
    border-inline-start: solid 0.075rem rgb(var(--scale-2));
    transition: background-color 175ms ease-out;
    position: relative;
    align-items: center;
}
#who-rated-page-area>div span:nth-of-type(odd):is(:hover,:focus-within), #who-rated-page-area>div span:nth-of-type(odd):is(:hover,:focus-within)+span[style*=color] {
    background-color: rgb(var(--liltone));
}
#who-rated-page-area>div span:nth-of-type(odd)::after {
    content: "";
    display: block;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 100%;
    width: 1.75rem;
    height: 100%;
}
#who-rated-page-area>div span[style*=color] {
    display: grid;
    place-items: center;
    text-align: center;
    color: rgb(var(--scale-2)) !important;
    font-size: 1.25rem;
    transition: background-color 175ms ease-out;
}
#who-rated-page-area h2 + div[style="-moz-column-count:3"] span[style="color:#777"] {
    color: rgb(var(--scale-2)) !important;
    font-size: 1.25rem;
    vertical-align: sub;
}
#action-area>form:nth-child(4)>table:first-child>tbody:first-child>tr:first-child {
    display: flex;
    justify-content: center
}
#action-area form[onsubmit*=RenamePage] table {
    grid-gap: .25em;
    display: grid;
    max-width: 50vw;
    grid-template-rows: 1.5em 1.5em;
    grid-template-columns: .5fr 1.5fr;
    align-items: center;
    justify-content: center;
    gap: .25em;
    white-space: nowrap
}
#action-area form[onsubmit*=RenamePage] table td:first-of-type {
    padding-right: .5em;
    text-align: right
}
#action-area form[onsubmit*=RenamePage] table td:last-of-type {
    display: flex
}
#action-area form[onsubmit*=RenamePage] table td:last-of-type * {
    flex-grow: 2
}
#action-area form[onsubmit*=RenamePage] tbody,#action-area form[onsubmit*=RenamePage] tr {
    display: contents
}
div#rename-option-rename {
    padding-top: 0 !important;
}
@-webkit-keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}
@-webkit-keyframes slide-in {
    0% {transform: translateY(1rem) translateX(1rem)}
    100% {transform: translateY(0) translateX(0)}
}
@keyframes slide-in {
    0% {transform: translateY(1rem) translateX(1rem)}
    100% {transform: translateY(0) translateX(0)}
}
@-webkit-keyframes slide-down {
    0% {max-height: 0}
    100% {max-height: var(--header-height-on-desktop)}
}
@keyframes slide-down {
    0% {max-height: 0}
    100% {max-height: var(--header-height-on-desktop)}
}
@-webkit-keyframes lift-in {
    0% {box-shadow: 0 0 0 0 rgb(var(--hoverblock-outer-shadow),.25),inset 0 0 0 .0625rem rgb(var(--hoverblock-inner-shadow))}
    100% {box-shadow: .25rem .125rem .5rem 0 rgb(var(--hoverblock-outer-shadow),.25),inset 0 0 0 .0625rem rgb(var(--hoverblock-inner-shadow))}
}
@keyframes lift-in {
    0% {box-shadow: 0 0 0 0 rgb(var(--hoverblock-outer-shadow),.25),inset 0 0 0 .0625rem rgb(var(--hoverblock-inner-shadow))}
    100% {box-shadow: .25rem .125rem .5rem 0 rgb(var(--hoverblock-outer-shadow),.25),inset 0 0 0 .0625rem rgb(var(--hoverblock-inner-shadow))}
}
.hovertip {
    -webkit-animation: fade-in .2s var(--standard-curve) .1s 1 alternate forwards;
    width: min(50%,-webkit-fit-content)!important;
    width: min(50%,-moz-fit-content)!important;
    width: min(50%,fit-content)!important;
    max-width: calc(var(--body-width-on-desktop) - 2rem);
    border: none !important;
    background-color: rgb(var(--hoverblock-bg)) !important;
    color: rgb(var(--hoverblock-txt));
    animation: fade-in .2s var(--standard-curve) .1s 1 alternate forwards;
    -webkit-backdrop-filter: blur(1em) brightness(1.5) grayscale(.5);
    backdrop-filter: blur(1em) brightness(1.5) grayscale(.5);
    opacity: 0
}
.hovertip:before {
    -webkit-animation: lift-in .2s var(--standard-curve) .1s 1 alternate forwards,slide-in .2s var(--standard-curve) .1s 1 alternate forwards;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(var(--hoverblock-bg));
    box-shadow: 0 0 0 0 rgb(var(--highlight-primary-color),.25),inset 0 0 0 .0625rem rgb(var(--highlight-primary-color));
    content: "";
    -webkit-backdrop-filter: blur(.5px);
    backdrop-filter: blur(.5px);
    animation: lift-in .2s var(--standard-curve) .1s 1 alternate forwards,slide-in .2s var(--standard-curve) .1s 1 alternate forwards
}
.hovertip .content {
    -webkit-animation: slide-in .2s var(--standard-curve) .1s 1 alternate forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: .25em .5em;
    border: 1px solid rgb(var(--hoverblock-border));
    box-shadow: 1px 1px 3px 1px rgb(var(--hoverblock-outer-shadow),.4), 0 0 1px rgb(var(--hoverblock-outer-shadow),.4), inset 0px 0px 2px 0px rgb(var(--hoverblock-inner-shadow),.4);
    transform: translateY(0) translateX(0);
    font-size: .9em;
    font-family: var(--Deco-font);
    animation: slide-in .2s var(--standard-curve) .1s 1 alternate forwards
}
.hovertip .footnote {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}
.hovertip .f-heading {
    --wght: 550;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 1.5em;
    margin: -.75rem 0 0 -1rem;
    padding: .125em .25em;
    background-color: rgb(var(--hoverblock-header-bg));
    color: rgb(var(--hoverblock-header-txt));
    font-weight: var(--wght);
    font-size: .96em;
    font-family: var(--Deco-font)
}
.f-heading:first-letter {
    font-family: var(--UI-font);
    font-size: 13px;
}
.hovertip .f-content {
    flex-grow: 2;
    margin: .125em 0;
    padding: 0 .75rem
}
.hovertip .f-footer {
    flex-grow: 2;
    align-self: flex-end;
    justify-self: flex-end;
    padding: .25rem .75rem;
    color: rgb(var(--hoverblock-footer-txt));
    font-size: .8em;
    font-family: var(--Deco-font);
    text-align: right
}
:is(div#st-wanted-pages-button-hovertip.hovertip,div#st-orphaned-pages-button-hovertip.hovertip,div#st-draft-pages-button-hovertip.hovertip) > .content {
    font-size:0
}
:is(div#st-wanted-pages-button-hovertip.hovertip,div#st-orphaned-pages-button-hovertip.hovertip,div#st-draft-pages-button-hovertip.hovertip) > .content:before {
    font-size:.75rem;
    padding: 2px 0
}
div#st-wanted-pages-button-hovertip.hovertip > .content:before {
    content:var(--wanted-hovertip)
}
div#st-orphaned-pages-button-hovertip.hovertip > .content:before {
    content:var(--orphant-hovertip)
}
div#st-draft-pages-button-hovertip.hovertip > .content:before {
    content:var(--draft-hovertip)
}
a.avatar-hover, a.avatar-hover:hover {
    -webkit-backdrop-filter: drop-shadow(2px 4px 3px rgb(var(--scale-0))) blur(1px);
    backdrop-filter: drop-shadow(2px 4px 3px rgb(var(--scale-0))) blur(1px);
    box-shadow: 0 0 2px rgb(var(--scale-0));
    border-bottom: none;
    background: rgb(var(--scale-0),.15);
    padding: 10px;
}
a.avatar-hover img {
    box-shadow: 0 0 4px 1px rgb(var(--scale-3),.7);
    mix-blend-mode: plus-lighter;
    image-rendering: inherit;
}
#page-version-info {
    position: absolute;
    right: 2em;
    border: 1px dashed #888;
    padding: 0.5em 1em;
    background-color: #EEF;
    max-width: 20em;
    opacity: 0.95;
}
#page-version-info > :is(:where(#page-content) table:not(.form),table.wiki-content-table) td:nth-child(odd) {
    transform: translate(3px,0px);
    -webkit-backdrop-filter: brightness(0.5);
    backdrop-filter: brightness(0.5);
}
#page-version-info > :is(:where(#page-content) table:not(.form),table.wiki-content-table) td {
    border: solid 1px rgb(var(--scale-7-sub));
    padding: .5em .625em;
    color: rgb(var(--scale-8));
    -webkit-backdrop-filter: brightness(0.5) blur(2px);
    backdrop-filter: brightness(0.5) blur(2px);
}
#page-version-info {
    position: absolute;
    right: 2em;
    color: rgb(var(--scale-8));
    outline: 1px dashed rgb(var(--scale-7-sup));
    padding: .75rem 1em .4rem .5em;
    background-color: rgb(var(--plain-secondary-color));
    max-width: 20em;
    text-align: center;
    font-size: calc(var(--base-font-size)*1.1);
}
#toc {
    margin: 1em auto 1em 0;
    padding: 0;
    outline: 1px dashed gray;
    border: none;
    outline-offset: -1px;
    background-color: rgb(var(--scale-7));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-width: 10em;
}
#toc #toc-action-bar {
    padding: 0;
    display: inline-flex;
    width: 100%;
    justify-content: flex-end;
    background-color: rgb(var(--dark-primary-color));
    box-shadow: 0px 1px 1px 0px rgb(var(--scale-1));
    z-index: 0;
}
div#toc-action-bar:after {
    content: var(--toc-txt);
    padding: 0 .5em;
    color: rgb(var(--scale-8));
}
#toc .title {
    display: none;
}
#toc #toc-action-bar a,#toc #toc-action-bar a:hover {
    border-bottom:none;
}
#toc #toc-action-bar a:last-of-type:before {
    display: inline-block;
    content: "\25B8";
    transform: translateX(0);
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
#toc #toc-action-bar a:last-of-type:hover:before,#toc #toc-action-bar a:first-of-type:hover:before {
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
#toc #toc-action-bar a:last-of-type:hover:before {
    transform: translateX(1px);
}
#toc #toc-action-bar a:first-of-type:hover:before {
    transform: translateY(1px);
}
#toc #toc-action-bar a:first-of-type:before {
    display: inline-block;
    content: "\25BE";
    transform: translateY(0);
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
div#toc-list > :is([style*="1em"],[style*="2em"],[style*="3em"],[style*="4em"],[style*="5em"],[style*="6em"]) {
    margin: 0em 1em;
}
#toc #toc-list a:hover {
    border-left: .25rem solid rgb(var(--highlight-secondary-color));
    border-bottom: none;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
    padding-left: 2px;
}
#toc #toc-list a {
    border-left: 0 solid transparent;
    border-bottom: none;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve);
}
div#uploaderOverlay {
    display: none;
}
p#file-uploader-legacy-switch {
    padding-top: 0 !important;
}
#file-upload-form .sub {
    margin: 0;
}
#print-options {
    font-size: var(--base-font-size);
    font-family: var(--Mono-font);
    padding: 0;
    border-bottom: 3px solid rgb(var(--scale-3));
    margin-bottom: 15px;
}
#print-options td:nth-child(odd) {
    display: inline-flex;
    min-width: 6em;
    justify-content: flex-end;
}
#edit-section-content {
    padding: 1px 1em;
    border: none;
    border-radius: 4px;
    background-image: repeating-linear-gradient(-45deg,hsla(0,0%,94.1%,.98),hsla(0,0%,94.1%,.98) 45px,hsla(0,0%,100%,.9) 0,hsla(0,0%,100%,.9) 90px);
    background-size: 200%;
    box-shadow: inset 0px 0px 5px 1px #686e7b;
    animation: constructing 180s linear infinite;
}
@keyframes constructing {
0% {background-position: 100% 100%;}
100% {background-position: 0% 100%;}
}
select {
    color: rgb(var(--dark-primary-color));
    font-family: unset;
    border: 1px solid;
    width: -webkit-fill-available;
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve)
}
select:is(:focus-within,:focus-visible),input:is(:focus-within,:focus-visible) {
    background-color: rgb(var(--scale-8));
    box-shadow: 0 0 0 2px rgb(var(--focus-border),1);
    -webkit-transition: all .2s var(--standard-curve);
    transition: all .2s var(--standard-curve)
}
input.text {
    border: 1px solid rgb(var(--scale-2));
    margin: 0;
    padding: 2px;
    background-color: rgb(var(--scale-8));
    color: rgb(var(--plain-primary-color));
}
.changes-list-item table {
    width: -webkit-fill-available;
}
.changes-list-item {
    position: relative;
    background-color: rgb(var(--scale-7));
    box-shadow: 0 -1px 3px rgb(var(--scale-0));
    -webkit-transition: 250ms var(--presto-curve) all;
    transition: 250ms var(--presto-curve) all;
}
.changes-list-item:hover {
    background-color: rgb(var(--bright-secondary-color));
    box-shadow: 0 1px 3px rgb(var(--scale-0));
    transform: scale(1.05);
    z-index: 1;
    -webkit-transition: 250ms var(--presto-curve) all;
    transition: 250ms var(--presto-curve) all;
}
.changes-list-item:before {
    content: "";
    position: absolute;
    left: -2px;
    top: 0;
    display: flex;
    width: 0%;
    height: 2px;
    background: rgb(var(--dark-third-color));
    -webkit-transition: 450ms var(--presto-curve) all;
    transition: 450ms var(--presto-curve) all;
}
.changes-list-item:hover:before {
    width: calc(100% + 2px);
    -webkit-transition: 450ms var(--presto-curve) all;
    transition: 450ms var(--presto-curve) all;
}
.changes-list-item:last-child {
    border-bottom: 1px solid rgb(var(--dark-primary-color),.5);
}
tr:has(td[class*=title]) {
    display: grid;
    grid-template-columns: 4fr 1fr 5fr 3fr 2fr;
    grid-template-areas: "change-pointer change-log change-time change-version changer";
    align-items: center;

}
.changes-list-item .title {
    grid-area: change-pointer;
    width: unset;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    word-break: break-all;
}
.changes-list-item .flags {
    grid-area: change-log;
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: initial;
}
.changes-list-item .mod-date {
    grid-area: change-time;
    width: unset;
    display: inline-flex;
    text-align: initial;
    align-items: center;
    justify-content: center;
}
.changes-list-item .revision-no {
    grid-area: change-version;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
}
.changes-list-item .mod-by {
    grid-area: changer;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5em;
}
.changes-list-item .comments {
    font-size: 90%;
    color: rgb(var(--scale-2));
    display: flex;
    justify-content: flex-end;
    width: -webkit-fill-available;
    margin-bottom: .5ch;
    padding:0 1em;
}
.comments:before {
    content: var(--variation-txt);
    text-align: left;
    display: flex;
    font-family: var(--Serif-font);
    min-width: calc(4rem + 1px);
}
.wait-block {
    background-repeat: no-repeat;
    display: flex;
    font-size: 0;
    height: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0 35%;
    background-image: none;
}
.wait-block:before {
    content: "";
    display: flex;
    width: 1rem;
    height: 1rem;
    border: solid .2rem rgb(var(--undertone));
    animation: diamond-load .75s linear infinite;
    transform: rotate(45deg);
}
.wait-block:after {
    content: var(--wating-txt);
    font-size: 1rem !important;
    padding-left: 1rem;
}