/* PERSONNEL */
#odialog-container, #odialog-container * {
    box-sizing: border-box;
}
@media only screen and (max-width: 56.25rem) {
#odialog-container div.owindow {
    max-width: 99%;
}
#odialog-container .modal-body .table, #odialog-container .modal-body .table~div {
    float: left;
}
#odialog-container .owindow .button-bar {
    float: center;
}
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child~table td.active {
    display: flex;
    align-items: center;
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child~table tbody, #odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child~table tr {
    display: contents;
}
#odialog-container div.owindow {
    display: grid;
    position: fixed;
    top: 50%!important;
    left: 50%!important;
    transform: translateY(-50%) translateX(-50%);
    border: none;
    background-color: rgb(var(--scale-8));
    box-shadow: inset 0 0 0px 0.125rem rgb(var(--border-line));
    color: rgb(var(--modal-font-color));
    align-content: center;
    align-items: center;
    justify-items: stretch;
}
#odialog-container .modal-header, #odialog-container .title {
    --wght: 800;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 2.5ex 0;
    background-image: linear-gradient(125deg,rgb(var(--modal-stripe)) 25%,rgb(var(--modal-stripe),.75) 25%,rgb(var(--modal-stripe),.75) 50%,rgb(var(--modal-stripe)) 50%,rgb(var(--modal-stripe)) 75%,rgb(var(--modal-stripe),.75) 75%,rgb(var(--modal-stripe),.75) 100%);
    background-size: 3rem 4.35rem;
    background-color: rgb(var(--lowlight-secondary-color) / 75%);
    color: rgb(var(--scale-8));
    font-weight: var(--wght);
    font-size: 1.5em;
    line-height: 1ex;
    font-family: var(--title-font);
    text-transform: uppercase;
    height: 100%;
    min-height: 2rem;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child {
    grid-row: 1;
    grid-column: 1;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1em 0 .25em .25rem;
    padding: 0 !important;
    background-color: initial !important;
    box-shadow: 0 0 0 .25rem rgb(var(--border-line))
}
#odialog-container .content, #odialog-container .modal-body {
    display: grid;
    margin: 0 1rem;
    padding: 0;
    word-break: break-all
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child+h1 {
    display: inline-flex;
    grid-row: 1;
    grid-column: 1/span 2;
    align-self: center;
    width: calc(100% - 7.5rem);
    margin-left: 7.5rem;
    border-bottom: 1px solid rgb(var(--split-line));
    font-family: unset;
    letter-spacing: -0.1rem
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child~table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/span 2;
    margin-top: .25rem
}

#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child~table+div {
    display: grid;
    grid-template-rows: -webkit-min-content;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2,1fr);
    grid-column: span 2;
    justify-self: flex-end;
    text-align: center
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child~table td.active:after {
    content: "";
    flex-grow: 1;
    margin: auto 1rem;
    border-bottom: 1px dashed rgb(var(--split-line))
}
/* TAGS & OPTIONS */
#main-content .page-tags span a:any-link[href^="/system:page-tags/tag/_"] {
    display: none;
}
#main-content .page-tags span a:any-link:not([href^="/system:page-tags/tag/_"]) {
    --wght: 500;
    display: inline;
    position: relative;
    flex-grow: 0;
    text-shadow: none;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 1.175em;
    margin: 0 0 0 0.5125rem;
    padding: 0.1875rem 0.3125rem 0.1875rem 1rem;
    border-radius: 0 .25rem .25em 0;
    border-bottom: none;
    background: rgb(var(--pagetag-bg-color));
    color: rgb(var(--pagetag-text-color));
    font-size: 0.6875rem;
    line-height: 0.8125rem;
    text-decoration: none;
    -webkit-clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
    clip-path: polygon(0.5rem 0, 100% 0, 100% 100%, 0.5rem 100%, 0 50%);
}
#main-content .page-tags span a:hover:not([href^="/system:page-tags/tag/_"]), #main-content .page-tags span a:active:not([href^="/system:page-tags/tag/_"]) {
    color: rgb(var(--pagetag-text-color));
}
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"])::before,
#main-content .page-tags span a:visited:not([href^="/system:page-tags/tag/_"])::before {
--clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: auto;
    bottom: auto;
    left: -1%;
    width: 104%;
    height: 104%;
    -webkit-transition: all .2s var(--moderato-curve);
    transition: all .2s var(--moderato-curve);
    opacity: 1;
    background-color: rgb(var(--pagetags-text-hover-bg-color));
    pointer-events: none;
    -webkit-clip-path: var(--clip-path);
    clip-path: var(--clip-path);
}
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):is(:hover,:active,:focus,:focus-within)::before, #main-content .page-tags span a:visited:not([href^="/system:page-tags/tag/_"]):is(:hover,:active,:focus,:focus-within)::before {
    --clip-path: polygon(-15% 0, 115% 0, 100% 100%, 0 100%);
    -webkit-transition: all .2s var(--moderato-curve);
    transition: all .2s var(--moderato-curve);
}
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):is(:hover,:active,:focus,:focus-within), #main-content .page-tags span a:visited:not([href^="/system:page-tags/tag/_"]):is(:hover,:active,:focus,:focus-within) {
    -webkit-transition: color .25s var(--ease-in-out),font-variation-settings .2s var(--ease-in-out),-webkit-box-shadow .2s var(--ease-in-out);
    transition: box-shadow .2s var(--ease-in-out),color .25s var(--ease-in-out),font-variation-settings .2s var(--ease-in-out);
    transition: box-shadow .2s var(--ease-in-out),color .25s var(--ease-in-out),font-variation-settings .2s var(--ease-in-out),-webkit-box-shadow .2s var(--ease-in-out);
    -webkit-text-decoration: none;
    text-decoration: none;
    color: rgb(var(--pagetag-text-hover-color));
    border-bottom: none;
}
#main-content .page-tags span a:any-link:not([href^="/system:page-tags/tag/_"])::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0.5rem;
    width: 0.25rem;
    height: 0.25rem;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgb(var(--pagetag-dot));
    box-shadow: 0 0 1px rgb(var(--scale-0)) inset;
}
div[id*=page-options-bottom] {
    --wght: 500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 70vw;
    font-weight: var(--wght);
    text-align: left;
    white-space: nowrap;
}
div[id*=page-options-bottom]:not(.page-rate-widget-box):not(#search-top-box-form)>a.btn {
    flex-basis: 5rem;
    height: 1.5em;
    margin: 0 .5ch 1ch;
    padding: .15rem;
    box-shadow: 0 0 0 0 rgb(var(--ui-button-hover-outline));
    line-height: 1.5;
}
div#history-subarea a.action-area-close:hover:not(.page-rate-widget-box):not(#search-top-box-form)>.btn, :not(.page-rate-widget-box):not(#search-top-box-form)>.button, :not(.page-rate-widget-box):not(#search-top-box-form)>.owindow .button-bar a, :not(.page-rate-widget-box):not(#search-top-box-form)>button, :not(.page-rate-widget-box):not(#search-top-box-form)>div.buttons input, :not(.page-rate-widget-box):not(#search-top-box-form)>input.button {
    --wght: 700;
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    min-width: 5em;
    margin: 0;
    padding: .25em;
    overflow: hidden;
    border: .125rem solid rgb(var(--plain-primary-color),.4);
    outline: 0 solid solid rgb(var(--border-line));
    background-color: rgb(var(--bright-third-color),.25);
    box-shadow: 0 0 0 #000;
    color: rgb(var(--dark-secondary-color));
    font-weight: var(--wght);
    filter: brightness(1);
    transition: border-color .2s var(--standard-curve),box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: border-color, box-shadow, color, background-color, font-weight, filter;
    font-family: 'Julius Sans One', 'Noto Serif SC';
}
div#history-subarea a.action-area-close:hover,:not(.page-rate-widget-box):not(#search-top-box-form)>.btn:active, :not(.page-rate-widget-box):not(#search-top-box-form)>.btn:hover, :not(.page-rate-widget-box):not(#search-top-box-form)>.button:active, :not(.page-rate-widget-box):not(#search-top-box-form)>.button:hover, :not(.page-rate-widget-box):not(#search-top-box-form)>.owindow .button-bar a:active, :not(.page-rate-widget-box):not(#search-top-box-form)>.owindow .button-bar a:hover, :not(.page-rate-widget-box):not(#search-top-box-form)>button:active, :not(.page-rate-widget-box):not(#search-top-box-form)>button:hover, :not(.page-rate-widget-box):not(#search-top-box-form)>div.buttons input:active, :not(.page-rate-widget-box):not(#search-top-box-form)>div.buttons input:hover, :not(.page-rate-widget-box):not(#search-top-box-form)>input.button:active, :not(.page-rate-widget-box):not(#search-top-box-form)>input.button:hover {
    --wght: 700;
    --ui-button-hover-txt: var(--lowlight-primary-color);
    --emerge-color: 255, 255, 255 ,1;
    outline: 1.5px solid rgb(var(--border-line));
    background-color: rgb(var(--emerge-color));
    box-shadow: 0 0 0 0.1rem rgb(var(--border-line));
    color:  rgb(var(--ui-button-hover-txt));
    font-weight: var(--wght);
    text-decoration: none;
    cursor: pointer;
    border-color: rgb(var(--emerge-color));
    filter: brightness(1.1);
}
a.btn.btn-default.button.button-cancel-and-delete-draft,a.btn.btn-default.button.button-cancel-and-leave-draft,a.btn.btn-default.button.button-edit-original,a.btn.btn-default.button.button-edit-draft,a.btn.btn-default.button.button-cancel,a.btn.btn-default.button.button-yes\,-revert,a.btn.btn-default.button.button-insert-code,a.btn.btn-default.button.button-close-message,a.edit-section-button,a.action-area-close.btn.btn-danger,a.btn.btn-default.button.button-rename,a.btn.btn-default.button.button-move,a.btn.btn-default.button.button-no\,-cancel,a.btn.btn-default.button.button-yes\,-delete,a.btn.btn-default.button.button-close {
    font-size: 0;
}

:is(a.btn.btn-default.button.button-cancel-and-delete-draft,a.btn.btn-default.button.button-cancel-and-leave-draft,a.btn.btn-default.button.button-edit-original,a.btn.btn-default.button.button-edit-draft,a.btn.btn-default.button.button-cancel,a.btn.btn-default.button.button-yes\,-revert,a.btn.btn-default.button.button-insert-code,a.btn.btn-default.button.button-close-message,a.edit-section-button,a.action-area-close.btn.btn-danger,a.btn.btn-default.button.button-rename,a.btn.btn-default.button.button-move,a.btn.btn-default.button.button-no\,-cancel,a.btn.btn-default.button.button-yes\,-delete,a.btn.btn-default.button.button-close):before {
    font-size: 0.9rem;
    padding: 2px 6px;
}
a.btn.btn-default.button.button-edit-original:before {
    content: var(--discard-draft-txt)
}
a.btn.btn-default.button.button-edit-draft:before {
    content: var(--edit-draft-txt)
}
a.btn.btn-default.button.button-cancel-and-delete-draft:before {
    content: var(--delete-draft-txt)
}
a.btn.btn-default.button.button-cancel-and-leave-draft:before {
    content: var(--save-draft-txt)
}
a.edit-section-button:before {
    content: var(--edit-txt)
}
a.btn.btn-default.button.button-cancel:before {
    content: var(--cancel-txt)
}
a.btn.btn-default.button.button-yes\,-revert:before {
    content: var(--revert-txt)
}
a.btn.btn-default.button.button-insert-code:before {
    content: var(--insert-txt)
}
a.btn.btn-default.button.button-close-message:before,a.btn.btn-default.button.button-close:before {
    content: var(--close-message-txt)
}
a.action-area-close.btn.btn-danger:before {
    content: var(--close-txt)
}
a.btn.btn-default.button.button-rename:before {
    content: var(--rename-txt)
}
a.btn.btn-default.button.button-move:before {
    content: var(--move-txt)
}
a.btn.btn-default.button.button-no\,-cancel:before {
    content: var(--no-cancel-txt)
}
a.btn.btn-default.button.button-yes\,-delete:before {
    content: var(--yes-delete-txt)
}
a.btn.btn-primary[onclick*=forcePageEditLockRemove],a#edit-recheck-lock {
    width: fit-content;
    width: -webkit-fit-content;
}
:is(.forum-thread-box:has(div#thread-options-2:not([style*="display: none"])),.forum-thread-box:has(div#thread-options-2:not([style*="display: block"]))) .options a#thread-toggle-options {
    font-size: 0;
}
:is(.forum-thread-box:has(div#thread-options-2:not([style*="display: none"])),.forum-thread-box:has(div#thread-options-2:not([style*="display: block"]))) .options a#thread-toggle-options:before {
    font-size: 0.9rem;
    padding: 2px 6px;
}
.forum-thread-box:has(div#thread-options-2:not([style*="display: none"])) .options a#thread-toggle-options:before {
    content: var(--less-options-txt);
}
.forum-thread-box:has(div#thread-options-2:not([style*="display: block"])) .options a#thread-toggle-options:before {
    content: var(--more-options-txt);
}
input#selectLink {
    color: transparent !important;
}
input#selectLink:hover {
    background-color: transparent !important;
}
span#uploaderContainer:before {
    content: var(--select-txt);
    position: absolute;
    background: transparent;
    color: rgb(var(--dark-secondary-color));
    font-family: Julius Sans One,"Noto Serif SC";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    padding: 12px;
    transition: all .2s var(--standard-curve)
}
span#uploaderContainer:has(input#selectLink:hover):before {
    background: #fff
}
#more-options-button, #edit-save-continue-button, #edit-save-button {
    background-color: rgb(var(--rate-up-bg),.3) !important
}
#more-options-button:hover, #edit-save-continue-button:hover, #edit-save-button:hover {
    background-color: rgb(var(--rate-up-bg),.5) !important;
    border-color: rgb(var(--rate-cancel-bg),.2) !important;
    box-shadow: rgb(var(--rate-cancel-bg),.1) !important
}
#delete-button, #edit-cancel-button {
    background-color: rgb(var(--rate-down-bg),.3) !important;
}
#delete-button:hover, #edit-cancel-button:hover {
    background-color: rgb(var(--rate-down-bg),.5) !important;
    border-color: rgb(var(--rate-down-bg),.7) !important;
    box-shadow: rgb(var(--rate-down-bg),.1) !important
}
#main-content .page-tags {
    display: block;
    position: relative;
    grid-area: page-tags;
    justify-self: flex-start;
    width: 100%;
    margin: .2rem 0 0;
    padding: .2rem 0 0;
    box-shadow: 0 -.125rem 0 0 rgb(var(--pagetags-title-bg));
    font-size: .9em;
}
.page-source {
    border: 1px dashed rgb(var(--scale-3));
    padding: 1em 1rem;
    background: linear-gradient(135deg, rgb(47 54 76 / 94%) , rgb(63 47 85 / 94%));
    color: rgb(var(--scale-8));
    font-family: var(--Mono-font);
    text-align: left;
    line-height: 1.8;
    word-break: break-all;
}
#main-content .page-tags:before {
    --wght: 500;
    position: absolute;
    top: -2em;
    left: 0;
    height: 1.5em;
    padding: 0.2em 0.25em 0.25em 0.25em;
    background-color: rgb(var(--pagetags-title-bg));
    content: var(--tags-label);
    color: rgb(var(--scale-8));
    font-weight: var(--wght);
    font-size: 1em;
}
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]), #main-content .page-tags span a:visited:not([href^="/system:page-tags/tag/_"]) {
    --wght: 500;
    --link-color: var(--pagetags-text-color);
    --hover-link-color: var(--pagetags-text-hover-color);
    display: inline-flex;
    z-index: 1;
    position: relative;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    margin: .2em -.2em .2em .2em;
    padding: .1em .4em .1em .3em;
    overflow: hidden;
    font-weight: var(--wght);
    line-height: 1;
    transition: color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
}

.page-tags span {
    --clip-path: polygon(0 0,calc(100% - 0.0625rem) 0,calc(100% - 0.0625rem) 100%,0 100%);
    -webkit-clip-path: var(--clip-path);
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding: 0;
    font-size: .9em;
    border-top: none;
    clip-path: var(--clip-path);
}
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):active:before, #main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):hover:before {
    --clip-path: polygon(-15% 0,115% 0,100% 100%,0 100%);
}
#main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):active, #main-content .page-tags span a:not([href^="/system:page-tags/tag/_"]):hover {
    --wght: 500;
    font-weight: var(--wght);
    text-decoration: none;
    transition: box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
}
#main-content .page-tags span:after {
    flex-grow: 2;
    content: "";
}
#action-area > form > table > tbody > tr > td:nth-child(2) > div::before {
    content: var(--tags-tip-txt);
    color: rgb(var(--scale-2));
    font-size: 1em;
}
#action-area > form > table.form td div.sub, form div.sub {
    color: transparent;
    margin-left: 0;
    margin-top: 0;
}
div.autocomplete-container.yui-ac::before {
    display: none;
}
ul.nav.nav-pills {
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-evenly;
    padding: 0;
}
a#st-wanted-pages-button:after {
    content: var(--wanted-txt);
}
a#st-orphaned-pages-button:after {
    content: var(--orphant-txt);
}
a#st-draft-pages-button:after {
    content: var(--drafts-txt);
}
a#st-wanted-pages-button,a#st-orphaned-pages-button,a#st-draft-pages-button {
    flex-wrap: wrap;
    flex-direction: column;
}
div#site-tools-box:before {
    content: var(--site-tools-txt);
    font-family: 'Zuijin', "Noto Sans SC", serif;
    display: flex;
    align-items: center;
    margin: -.5em 0 1em 0;
    border: none;
    min-height: 1em;
    line-height: 1;
    color: rgb(var(--mo-ti-color),1);
    font-weight: 700;
    text-shadow: 0 0 0px rgb(var(--title-shadow)), 0 0 0px rgb(var(--title-shadow));
    letter-spacing: calc(-0.05em - 1px);
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    overflow: hidden;
}
/* EDIT PAGE */
div#st-action-area {
    text-align: left;
}
div#st-action-area > span[style*="color: #999"] {
    color: rgb(var(--scale-2)) !important;
}
#action-area h1 {
    font-family: var(--UI-font);
    display: flex;
    align-items: center;
    margin: 0;
    border: none;
    min-height: 1em;
    line-height: 1;
    color: rgb(var(--mo-ti-color),1);
    font-weight: 700;
    text-shadow: 0 0 0px rgb(var(--title-shadow)), 0 0 0px rgb(var(--title-shadow));
    letter-spacing: -0.05em;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
}
#action-area h1::before,#action-area h1::after {
    content: "";
    flex-grow: 1;
    margin: auto 1rem;
    border: 1px solid rgb(var(--split-line));
}
input[type="checkbox" i], div.checkbox.do-not-notify {
    display: none;
}
#action-area>div:not([style*=center]):first-of-type {
    padding-top: 2rem;
    border: none;
}
form#edit-page-form #recaptcha_challenge_field {
    grid-area: captcha-1;
}
form#edit-page-form #recaptcha_response_field {
    grid-area: captcha-2;
}
table.form td, table.form th {
    vertical-align: top;
    padding: 0;
}
form#edit-page-form table.form:first-of-type td:first-of-type {
    grid-area: title-txt;
    width: max-content;
    margin: -4em 0 0 0;
    padding: 2px;
    transform: translateY(0);
    outline: 0 solid rgb(var(--focus-border),1);
    background-color: transparent;
    box-shadow: 0 0 0 0 rgb(var(--focus-border),1);
    color: #000;
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    transition: box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),transform .2s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: box-shadow,color,background-color,transform,font-weight,font-variation-settings;
}
form#edit-page-form table.form:first-of-type td:last-of-type input {
    --wght: 500;
    width:99%;
    border: none;
    outline: 0 solid #000;
    background-color: rgb(var(--scale-8));
    box-shadow: 0 0 0 2px rgb(var(--focus-border),1);
    font-weight: var(--wght);
    transition: box-shadow .2s var(--standard-curve),color .15s var(--standard-curve),background-color .15s var(--standard-curve),transform .2s var(--standard-curve),font-weight .2s var(--standard-curve),font-variation-settings .2s var(--standard-curve);
    will-change: box-shadow,color,background-color,transform,font-weight,font-variation-settings;
}
form#edit-page-form table.form:first-of-type tr:focus-within td:first-of-type {
    --wght: 600;
    transform: translateY(-.15625rem);
    outline: 0 solid #000;
    background-color: rgb(var(--focus-border),1);
    box-shadow: 0px 2px 0px 2.5px rgb(var(--focus-border),1);
    color: rgb(var(--scale-8));
    font-weight: var(--wght);
    z-index: -1;
    padding: 2px;
}
form#edit-page-form table.form:first-of-type td:last-of-type input:focus-within,form#edit-page-form table.form:first-of-type td:last-of-type input:focus-visible {
    --wght: 500;
    border: none;
    outline: 0 solid rgb(var(--focus-border),1);
    background-color: rgb(var(--scale-8));
    box-shadow: 0 0 0 3px rgb(var(--focus-border),1);
    font-weight: var(--wght);
}
form#edit-page-form #wd-editor-toolbar-panel+div {
    position: relative;
    grid-area: editbox;
    padding: .125em 0;
    box-shadow: inset 0 1px 10px 0px #000, inset 0 1px 10px 0px #000;
}

form#edit-page-form:not(.data-form)>table, form#edit-page-form:not(.data-form)>table tbody, form#edit-page-form:not(.data-form)>table tr, form#edit-page-form:not(.data-form)>table:not(.form) td {
    display: contents;
}
form#edit-page-form textarea {
    word-wrap: break-word;
    -moz-tab-size: 4;
    overflow-y: auto;
    border: none;
    outline: 0 solid transparent;
    font-size: 1em;
    line-height: 1.25;
    text-align: left;
    white-space: pre-wrap;
    tab-size: 4;
}
form#edit-page-form #edit-page-textarea:focus-within, form#edit-page-form #edit-page-textarea:focus-visible {
    border: 1px solid rgb(var(--focus-border),1);
    box-shadow: 0 0 0 2px rgb(var(--focus-border),1);
    transition: border .2s var(--standard-curve), box-shadow .2s var(--standard-curve);
    will-change: border, box-shadow;
}
form#edit-page-form #edit-page-textarea {
    min-height: calc(100vh/1.4);
    padding: 0.0625em 0.125rem;
    margin-bottom: 1rem;
    border: 1px solid #000;
    box-shadow: 0 0 0 2px transparent;
    transition: border .2s var(--standard-curve), box-shadow .2s var(--standard-curve);
    will-change: border, box-shadow;
    min-width: 99.3%;
}
form#edit-page-form .change-textarea-size {
    grid-area: text-resize;
    display: none;
}
form#edit-page-form .edit-help-34 {
    grid-area: edit-help;
    display: none;
}
form#edit-page-form .edit-page-bottomtable div.sub {
    z-index: 5;
    color: rgb(var(--scale-2));
    grid-area: descsub;
    height: 1rem;
    margin: -1.5em 0 0 0;
    font-size: .8em;
    text-align: right;
}
form#edit-page-form .edit-page-bottomtable tr>td:first-of-type>div:first-of-type {
    --wght: 500;
    display: grid;
    position: relative;
    grid-template-rows: 1em 1fr;
    grid-area: descrip;
    align-items: center;
    justify-content: stretch;
    margin-top: 0;
    padding-top: .75em;
    background-color: transparent;
    color: transparent;
    font-weight: var(--wght);
}
form#edit-page-form:lang(cn) .edit-page-bottomtable tr>td:first-of-type>div:first-of-type:before {
    content: var(--edit-info-txt);
    color: #000;
    z-index: 2;
    position: absolute;
    transform: translateY(0);
    font-size: .8em;
    transition: box-shadow .2s var(--standard-curve),background-color .15s var(--standard-curve),color .15s var(--standard-curve), trasnform .15s var(--standard-curve);
    will-change: box-shadow,color,background-color, transform;
    top: -1em;
}
form#edit-page-form .edit-page-bottomtable tr>td:first-of-type>div:first-of-type:focus-within:before {
    transform: translateY(-.25rem);
    outline: 0 solid #000;
    background-color: rgb(var(--focus-border),1);
    box-shadow: 0px 2px 0px 2.5px rgb(var(--focus-border),1);
    color: rgb(var(--scale-8));
}
form#edit-page-form .edit-page-bottomtable tr>td:first-of-type>div:first-of-type textarea {
    --wght: var(--ui-wght);
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 5rem;
    margin: -1.325em auto 0;
    padding: .25rem;
    outline: 0 solid rgb(var(--focus-border),1);
    box-shadow: 0 0 0 1.5px rgb(var(--focus-border),1);
    color: #333;
    font-weight: var(--wght);
    resize: none;
    transition: box-shadow .2s var(--standard-curve),background-color .15s var(--standard-curve);
    will-change: box-shadow, background-color;
}
form#edit-page-form .edit-page-bottomtable tr>td:first-of-type>div:first-of-type:focus-within textarea,form#edit-page-form .edit-page-bottomtable tr>td:first-of-type>div:first-of-type:focus-visible textarea {
    border: none;
    outline: 0 solid rgb(var(--focus-border),1);
    background-color: rgb(252, 252, 252, 1);
    box-shadow: 0 0 0 2.5px rgb(var(--focus-border),1);
    color: #111;
}
form#edit-page-form:not(.data-form)>table, form#edit-page-form:not(.data-form)>table tbody, form#edit-page-form:not(.data-form)>table tr, form#edit-page-form:not(.data-form)>table:not(.form) td {
    display: contents;
}
form#edit-page-form #lock-info {
    grid-area: info-lock;
    margin: .25em auto;
    border: none;
    font-size: .8125rem;
    line-height: 1.42;
    text-align: center;
    background-color: rgb(var(--scale-8));
    padding: 0.5em 1em;
    box-shadow: 0 0 2.5px rgb(var(--scale-0));
    font-family: var(--Serif-font);
    color:rgb(var(--scale-0));
    text-shadow: none;
    font-weight: 600;
    letter-spacing: -.08125em !important;
}
form#edit-page-form #edit-page-captcha {
    grid-area: captcha-3;
}
form#edit-page-form div.buttons {
    grid-gap: .5em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-area: editbuttons;
    margin: 0 .5em;
    gap: .5em;
}
form#edit-page-form:not(.data-form) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "pageid . captcha-1 captcha-1 captcha-2 captcha-2"
        "title-txt title-txt . . . ."
        "title-box title-box title-box title-box title-box title-box"
        "toolbar toolbar toolbar toolbar toolbar toolbar"
        "editbox editbox editbox editbox editbox editbox"
        "edit-help edit-help edit-help edit-help edit-help text-resize"
        "descrip descrip descrip descrip descrip descrip"
        "descsub descsub descsub descsub descsub descsub"
        "info-lock info-lock info-lock info-lock info-lock info-lock"
        "captcha-3 captcha-3 captcha-3 captcha-3 captcha-3 captcha-3"
        "editbuttons editbuttons editbuttons editbuttons editbuttons editbuttons";
    padding: 0;
    background-color: initial;
    box-shadow: none;
    font-size: .8125rem;
}
form#edit-page-form .wd-editor-toolbar-panel {
        grid-gap: .125em;
        display: grid;
        position: relative;
        grid-template-columns: repeat(auto-fit,minmax(1fr,var(--icon-size)));
        grid-template-areas: "header-h1 bold-txt italic-txt underline-txt strike-txt super-txt sub-txt raw-txt teletype-txt . ordered-list unordered-list increment-list decrement-list . quote-block hr-txt div-block code-block code-wizard html-block create-table" "url-txt url-wizard page-link-txt page-link-wizard image-block image-wizard . create-footnote create-toc definition-list bibliography bib-cite clear-all-fl . math-block math-inline equation-ref . . . . .";
        grid-auto-rows: var(--icon-size);
        grid-auto-columns: var(--icon-size);
        grid-auto-flow: row;
        grid-area: toolbar;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: fit-content;
        height: 100%;
        margin: .5em auto;
        padding: 0;
        gap: .125em;
        background-color: transparent;
        box-shadow: none
    }

    @media (orientation: portrait),only screen and (max-width:30rem) {
        form#edit-page-form .wd-editor-toolbar-panel {
            grid-template-areas:"header-h1 bold-txt italic-txt underline-txt strike-txt super-txt sub-txt raw-txt teletype-txt . ordered-list unordered-list increment-list decrement-list" "quote-block hr-txt div-block code-block code-wizard html-block create-table . url-txt url-wizard page-link-txt page-link-wizard image-block image-wizard" ". . create-footnote create-toc definition-list bibliography bib-cite clear-all-fl . math-block math-inline equation-ref . .";
            justify-content: center
        }
    }

    form#edit-page-form .wd-editor-toolbar-panel div {
        display: contents
    }

    form#edit-page-form .wd-editor-toolbar-panel li.hseparator {
        display: none
    }

    form#edit-page-form .wd-editor-toolbar-panel div>ul {
        display: contents
    }

    form#edit-page-form .wd-editor-toolbar-panel div>ul>li {
        position: relative;
        height: 100%;
        margin: 0
    }

    form#edit-page-form .wd-editor-toolbar-panel div>ul>li>ul {
        --clip-path: polygon(0 0,0 0,0 100%,0 100%);
        -webkit-clip-path: var(--clip-path);
        display: grid;
        top: 0;
        left: var(--icon-size);
        grid-template-columns: repeat(auto-fit,var(--icon-size));
        grid-auto-columns: var(--icon-size);
        grid-auto-flow: column;
        height: var(--icon-size);
        padding-left: 0;
        overflow: hidden;
        border: none;
        background-color: transparent;
        box-shadow: inset 0 0 0 0 transparent;
        clip-path: var(--clip-path);
        pointer-events: none;
        transition: box-shadow .1s var(--standard-curve) .25s,padding-left .1s var(--standard-curve) .25s,-webkit-clip-path .2s var(--standard-curve);
        transition: clip-path .2s var(--standard-curve),box-shadow .1s var(--standard-curve) .25s,padding-left .1s var(--standard-curve) .25s;
        transition: clip-path .2s var(--standard-curve),box-shadow .1s var(--standard-curve) .25s,padding-left .1s var(--standard-curve) .25s,-webkit-clip-path .2s var(--standard-curve)
    }

    form#edit-page-form .wd-editor-toolbar-panel div>ul>li.sfhover>ul,form#edit-page-form .wd-editor-toolbar-panel div>ul>li:active>ul,form#edit-page-form .wd-editor-toolbar-panel div>ul>li:hover>ul {
        --clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        left: var(--icon-size);
        padding-left: .125em;
        box-shadow: inset .125em 0 0 0 transparent;
        pointer-events: all;
        transition: box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms;
        transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve);
        transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms
    }

    form#edit-page-form .wd-editor-toolbar-panel div>ul>li:focus-within>ul {
        --clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        left: var(--icon-size);
        padding-left: .125em;
        box-shadow: inset .125em 0 0 0 transparent;
        pointer-events: all;
        transition: box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms;
        transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve);
        transition: clip-path .2s var(--standard-curve) 50ms,box-shadow .1s var(--standard-curve),padding-left .1s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve) 50ms
    }

    form#edit-page-form .wd-editor-toolbar-panel a {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: none;
        background-image: none;
        background-position: 0 0;
        background-color: rgb(var(--editor-icon-bg))
    }

    form#edit-page-form .wd-editor-toolbar-panel div>ul>li>ul a {
        background-color: rgb(var(--editor-icon-submenu-bg))
    }

    form#edit-page-form .wd-editor-toolbar-panel a:after,form#edit-page-form .wd-editor-toolbar-panel a:before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        content: ""
    }

    form#edit-page-form .wd-editor-toolbar-panel a:before {
        -webkit-mask-image: var(--edit-menu-mask);
        -webkit-mask-size: calc(var(--icon-size)*.8);
        -webkit-mask-position: center center;
        -webkit-mask-repeat: no-repeat;
        z-index: 1;
        width: 100%;
        background-color: rgb(var(--editor-icon-color));
        mask-image: var(--edit-menu-mask);
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-size: calc(var(--icon-size)*.8);
        transition: background-color .15s var(--standard-curve)
    }

    form#edit-page-form .wd-editor-toolbar-panel li:active>a:before,form#edit-page-form .wd-editor-toolbar-panel li:hover>a:before {
        background-color: rgb(var(--editor-icon-hover-color))
    }

    form#edit-page-form .wd-editor-toolbar-panel>li:focus-within a:before {
        background-color: rgb(var(--editor-icon-hover-color))
    }

    form#edit-page-form .wd-editor-toolbar-panel a:after {
        --clip-path: polygon(0 0,0 0,0 100%,0 100%);
        -webkit-clip-path: var(--clip-path);
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--editor-icon-hover-bg));
        clip-path: var(--clip-path);
        opacity: 1;
        pointer-events: none;
        transition: -webkit-clip-path .2s var(--standard-curve);
        transition: clip-path .2s var(--standard-curve);
        transition: clip-path .2s var(--standard-curve),-webkit-clip-path .2s var(--standard-curve)
    }

    form#edit-page-form .wd-editor-toolbar-panel li:active>a:after,form#edit-page-form .wd-editor-toolbar-panel li:hover>a:after {
        --clip-path: polygon(-15% 0,115% 0,100% 100%,0 100%)
    }

    form#edit-page-form .wd-editor-toolbar-panel li:focus-within a:after {
        --clip-path: polygon(-15% 0,115% 0,100% 100%,0 100%)
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:first-of-type {
        grid-area: header-h1
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(2) {
        grid-area: bold-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(3) {
        grid-area: italic-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(4) {
        grid-area: underline-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(5) {
        grid-area: strike-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(6) {
        grid-area: teletype-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(7) {
        grid-area: quote-block
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(8) {
        grid-area: super-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(9) {
        grid-area: sub-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:first-of-type>ul>li:nth-of-type(10) {
        grid-area: raw-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:first-of-type {
        grid-area: hr-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(2) {
        grid-area: div-block
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(3) {
        grid-area: clear-all-fl
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(4) {
        grid-area: create-table
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(5) {
        grid-area: create-toc
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(7) {
        grid-area: code-block
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(8) {
        grid-area: code-wizard
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(10) {
        grid-area: url-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(11) {
        grid-area: url-wizard
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(12) {
        grid-area: page-link-txt
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(13) {
        grid-area: page-link-wizard
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(15) {
        grid-area: image-block
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(16) {
        grid-area: image-wizard
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(2)>ul>li:nth-of-type(18) {
        grid-area: html-block
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:first-of-type {
        grid-area: ordered-list
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(2) {
        grid-area: unordered-list
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(3) {
        grid-area: increment-list
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(4) {
        grid-area: decrement-list
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(5) {
        grid-area: definition-list
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(6) {
        grid-area: create-footnote
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(8) {
        grid-area: math-block
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(9) {
        grid-area: math-inline
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(10) {
        grid-area: equation-ref
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(12) {
        grid-area: bibliography
    }

    form#edit-page-form .wd-editor-toolbar-panel div:nth-of-type(3)>ul>li:nth-of-type(13) {
        grid-area: bib-cite
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-h1:before {
        --edit-menu-mask: var(--h1-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-h2:before {
        --edit-menu-mask: var(--h2-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-h3:before {
        --edit-menu-mask: var(--h3-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-h4:before {
        --edit-menu-mask: var(--h4-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-h5:before {
        --edit-menu-mask: var(--h5-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-h6:before {
        --edit-menu-mask: var(--h6-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-bold:before {
        --edit-menu-mask: var(--bold-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-italic:before {
        --edit-menu-mask: var(--italic-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-underline:before {
        --edit-menu-mask: var(--underline-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-strikethrough:before {
        --edit-menu-mask: var(--strikethrough-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-teletype:before {
        --edit-menu-mask: var(--teletype-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-quote:before {
        --edit-menu-mask: var(--quote-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-superscript:before {
        --edit-menu-mask: var(--superscript-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-subscript:before {
        --edit-menu-mask: var(--subscript-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-raw:before {
        --edit-menu-mask: var(--rawtext-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-hr:before {
        --edit-menu-mask: var(--hr-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-div:before {
        --edit-menu-mask: var(--divblock-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-clearfloat:before {
        --edit-menu-mask: var(--clearfloat-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-clearfloatleft:before {
        --edit-menu-mask: var(--clearfloatleft-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-clearfloatright:before {
        --edit-menu-mask: var(--clearfloatright-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-table:before {
        --edit-menu-mask: var(--table-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-toc:before {
        --edit-menu-mask: var(--toc-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-code:before {
        --edit-menu-mask: var(--codeblock-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-codewiz:before {
        --edit-menu-mask: var(--codewiz-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-uri:before {
        --edit-menu-mask: var(--url-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-uriwiz:before {
        --edit-menu-mask: var(--urlwiz-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-pagelink:before {
        --edit-menu-mask: var(--pagelink-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-pagelinkwiz:before {
        --edit-menu-mask: var(--pagelinkwiz-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-image:before {
        --edit-menu-mask: var(--imageblock-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-imagewiz:before {
        --edit-menu-mask: var(--imagewiz-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-html:before {
        --edit-menu-mask: var(--htmlblock-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-numlist:before {
        --edit-menu-mask: var(--ordered-list-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-bullist:before {
        --edit-menu-mask: var(--unordered-list-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-incindent:before {
        --edit-menu-mask: var(--inc-list-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-decindent:before {
        --edit-menu-mask: var(--dec-list-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-deflist:before {
        --edit-menu-mask: var(--def-list-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-footnote:before {
        --edit-menu-mask: var(--footnote-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-math:before {
        --edit-menu-mask: var(--math-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-mathinline:before {
        --edit-menu-mask: var(--inline-math-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-eqref:before {
        --edit-menu-mask: var(--eq-def-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-bib:before {
        --edit-menu-mask: var(--bib-mask)
    }

    form#edit-page-form .wd-editor-toolbar-panel a.weditor-bibcite:before {
        --edit-menu-mask: var(--bib-cite-mask)
    }

    form#edit-page-form #wd-editor-toolbar-panel+div {
        position: relative;
        grid-area: editbox;
        padding: auto;
        padding-bottom: 1.25em;
        box-shadow: none
    }
/* POPUPS */
input#wd-ed-imagewizard-uri, select#wd-ed-imagewizard-position{
    max-width: max(10rem,25vw);
}
div#wd-ed-imagewizard-byfile-list > p {
    font-size:0;
}
div#wd-ed-imagewizard-byfile-list > p:before {
    content: var(--choose-img-txt);
    font-size: .85rem;
    line-height: 2rem;
}
@media only screen and (min-width: 767px) {
td:has(span.image-wizard-source-attached) {
    display: flex;
    width: max-content;
    align-items: center;
    justify-content: space-between;
}
span.image-wizard-source-attached {
    display: flex;
    margin: 0 2px;
}
}
select#wd-ed-imagewizard-byfile-filename {
    min-width: 7rem;
    height: fit-content;
    display: inline-flex;
    border-radius: 0;
}

td:has(select#wd-ed-imagewizard-byfile-filename) {
    display:flex;
    width: fit-content;
    height: fit-content;
}
option {
    display: inline-flex;
}
img#wd-ed-imagewizard-byfile-preview {
    outline: 1px solid;
    box-shadow: 0 0 2px 0px black;
    outline-offset: -1px;
}
#wd-ed-imagewizard-byfile-list table.form td:first-of-type {
    font-size:0
}
#wd-ed-imagewizard-byfile-list table.form td:first-of-type:before {
    content:var(--img-size-txt);
    font-size: .85rem
}
div#wd-ed-imagewizard-checkresult ~ table.form input,input#wd-ed-imagewizard-flickr {
    max-width: max(25vw,10rem);
}
div#wd-ed-imagewizard-checkresult p[style*=red] {
    font-size: 0;
}
div#wd-ed-imagewizard-checkresult p[style*=red]:before {
    content: var(--img-check-txt);
    font-size: 0.8rem;
    line-height: 130%;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
div#rename-option-delete p {
    font-size:0;
}
div#rename-option-delete:before {
    content:var(--delete-confirm-txt);
    font-size:0.8rem;
    display:flex;
    text-align: left;
    text-indent: 2em;
}
div#owindow-1:not([style^="width: 80%"]) > div#ohandle-1:before {
    content:var(--overwrite-txt);
}
div#owindow-1.owindow.error > .title,div#owindow-1.owindow.confirmation > .title, div#owindow-1[style*="width: 70%;"] > .title, div#owindow-1[style*="width: 60em;"] > .title {
    font-size:0
}
div#owindow-1.owindow.error > .title.modal-header,div#owindow-1.owindow.confirmation > .title.modal-header,div#owindow-1[style*="width: 70%;"] > .title.modal-header, div#owindow-1[style*="width: 60em;"] > .title.modal-header {
    height:2.25rem;
}
div#owindow-1.owindow.error > .title:before,div#owindow-1.owindow.confirmation > .title:before,div#owindow-1[style*="width: 70%;"] > .title:before,div#owindow-1[style*="width: 60em;"] > .title:before {
    font-size: 1.2rem;
    color: rgb(var(--scale-8));
}
div#owindow-1.owindow.error > .title:before {
    content: var(--error-txt);
}
div#owindow-1.owindow.confirmation > .title:before{
    content: var(--confirm-txt);
}
div#owindow-1.owindow.info > .title:before {
    content: var(--info-title)
}
div#owindow-1.owindow:has(a.btn.btn-default.button.button-insert-code,a.btn.btn-default.button.button-move,a.btn.btn-default.button.button-rename)  .title.modal-header {
    font-size: 0;
    height:2.25rem;
}
div#owindow-1.owindow:has(a.btn.btn-default.button.button-insert-code,a.btn.btn-default.button.button-move,a.btn.btn-default.button.button-rename)  .title.modal-header:before {
    font-size: 1.2rem;
    color: rgb(var(--scale-8));
}
div#owindow-1.owindow:has(select#wd-ed-codewizard-type) .title.modal-header:before {
    content:var(--code-wizard-title)
}
div#owindow-1.owindow:has(input#wd-ed-tablewizard-columns) .title.modal-header:before {
    content:var(--table-wizard-title)
}
div#owindow-1.owindow:has(input#wd-ed-uriwizard-uri) .title.modal-header:before {
    content:var(--urilink-wizard-title)
}
div#owindow-1.owindow:has(input#wd-ed-pagelinkwizard-anchor) .title.modal-header:before {
    content:var(--pagelink-wizard-title)
}
div#owindow-1.owindow:has(select#wd-ed-erefwizard-ref) .title.modal-header:before {
    content:var(--equation-ref-wizard-title)
}
div#owindow-1.owindow:has(input#file-rename-name) .title.modal-header:before {
    content:var(--rename-title)
}
div#owindow-1.owindow:has(input#file-move-page) .title.modal-header:before {
    content:var(--move-txt)
}
div#owindow-1.owindow:has(input#file-move-page,input#file-rename-name) .content.modal-body h1 {
    display:none
}
div#owindow-1.owindow:has(a.btn.btn-default.button.button-yes\,-delete) .content.modal-body, div#owindow-1.owindow:has(a.btn.btn-default.button.button-yes\,-delete) .content.modal-body h1 {
     font-size:0;
}
div#owindow-1.owindow:has(a.btn.btn-default.button.button-yes\,-delete) .content.modal-body h1:before {
    content: var(--delete-title);
    font-size: 1.5rem;
}
div#owindow-1.owindow:has(a.btn.btn-default.button.button-yes\,-delete) .content.modal-body h1 em {
    font-size: 1.5rem;
    font-family: var(--Mono-font);
    letter-spacing: -.1em;
    font-style: inherit;
    padding-left: .5rem;
}
div#owindow-1.owindow:has(a.btn.btn-default.button.button-yes\,-delete) .content.modal-body:after {
    content: var(--delete-file-confirm-txt);
    font-size: 0.8rem;
    margin-block-start: 1em;
}
div#owindow-1.owindow.error > .content.modal-body h1 {
    margin: 0;
    font-size: 0;
}
div#owindow-1.owindow.error > .content.modal-body h1:before {
    content: var(--note-txt);
    font-size: 2rem;
}
div#owindow-1.owindow.error > .content.modal-body:has(a[onclick*="scrollTo('np-text')"]) {
    font-size:0;
}
div#owindow-1.owindow.error > .content.modal-body:has(a[onclick*="scrollTo('np-text')"]):before {
    content: var(--multiple-editor-txt);
    font-size: .8rem;
}
a[onclick*="scrollTo('np-text')"] {
    font-size: 0.8rem;
    color: transparent;
    width: fit-content;
    position: relative;
}
a[onclick*="scrollTo('np-text')"]:before {
    z-index:-1;
    position: absolute;
    display:block;
    content: var(--scroll-txt);
    color: rgb(var(--link-color));
    transition: all .4s var(--standard-curve);
    border-bottom: 1px solid transparent;
    -moz-transition: all .4s var(--standard-curve);
    -webkit-transition: all .4s var(--standard-curve);
    -o-transition: all .4s var(--standard-curve);
}
a[onclick*="scrollTo('np-text')"]:hover:before {
    color: rgb(var(--link-hover-color));
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
div#owindow-1[style*="width: 70%;"] > .title:before {
    content: var(--image-wizard-title);
}
div#owindow-1[style*="width: 60em;"]:not([class*="info"])> .title:before {
    content: var(--file-information-title);
}
div#owindow-1.owindow.info .content.modal-body:has(h1,p):not(:has(table,input,select)) > :is(h1,p:first-of-type) {
    font-size: 0;
}
div#owindow-1.owindow.info .content.modal-body:has(h1,p):not(:has(table,input,select)) > h1:before {
    content: var(--permarnent-link-title);
    font-size: 1.5rem;
    line-height:2
}
div#owindow-1.owindow.info .content.modal-body:has(h1,p):not(:has(table,input,select)) > p:first-of-type:before {
    content: var(--permarnent-link-txt);
    font-size: .85rem;
    line-height:2ex
}
div#owindow-1[style*="width: 60em;"]:not([class*="info"]) .content.modal-body h1 {
    display: none;
}
div#owindow-1[style*="width: 60em;"]:not([class*="info"]) .content.modal-body td {
    border: 1px solid;
    border-left: none;
    padding: 2px 6px
}
div#owindow-1[style*="width: 60em;"]:not([class*="info"]) .content.modal-body td:nth-child(odd) {
    transform:translateX(3px);
    border: 1px solid rgb(var(--table-head-border));
    background-color: rgb(var(--table-head-bg));
    color: rgb(var(--scale-8))
}
div#owindow-1[style*="width: 60em;"]:not([class*="info"]) .content.modal-body td:nth-child(even) {
    backdrop-filter: blur(2px)
}
.owindow.owait .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: none !important;
}
#owindow-1 > div {
    padding: 1rem 2rem !important;
}
@media only screen and (max-width: 767px) {
#owindow-1 > div {
    padding: .5rem !important;
}
}
div#owindow-1.owindow.owait > .content.modal-body,div#odialog-container > .owindow.osuccess > .content.modal-body {
    line-height: 0;
    color: transparent;
}

div#owindow-1.owindow.owait > .content.modal-body:before {
    content: var(--saving-page-txt);
    line-height: 1.5;
    color: rgb(var(--dark-secondary-color));
    font-family: var(--Serif-font);
    display: inline-flex;
    justify-content: center;
}
div#odialog-container > .owindow.osuccess > .content.modal-body::before {
    content: var(--saved-txt);
    font-size: 0.8rem;
    line-height: 1.5;
    color: rgb(var(--dark-secondary-color));
    font-family: var(--Serif-font);
    display: inline-flex;
    justify-content: center;
}
div#owindow-1.owindow > div.content.modal-body:has(p:only-child):not(:has(table,form)) > p {
    font-size:0
}
div#owindow-1.owindow > div.content.modal-body:has(p:only-child):not(:has(table,form)) > p:before {
    content: var(--draft-options-txt);
    display: block;
    font-size: 0.8rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 130%;
}
.button-bar.modal-fotoer {
    font-size: 0;
}
.button-bar.modal-fotoer a {
    font-size: 0.8rem;
}
div#dialog-clone-wait.wait-progress {
    background-image:none;
}
.owindow.owait .content::after,div#dialog-clone-wait:after {
   content: " ";
   display: block;
   width: 1.75em;
   height: 1.75em;
   box-sizing: border-box;
   border: solid .2rem rgb(var(--undertone));
   margin: .5rem auto;
   animation: diamond-load .75s linear infinite;
   transform:rotate(45deg)
}
#odialog-container[style*=block] {
    display: flex!important;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(.15rem);
    backdrop-filter: blur(.15rem);
}
@keyframes diamond-load {
  0% {
      box-shadow:0 0 0 0 rgb(var(--undertone),.5)
  }

  70% {
      box-shadow:0 0 0 .25rem rgb(var(--undertone),0)
}
  100% {
      box-shadow:0 0 0 0 rgb(var(--undertone),0)
  }
}
@keyframes fountain {
from {opacity:0}
to {opacity:1}
}
#odialog-container {
    animation: fountain .75s cubic-bezier(0.25, 0.46, 0.45, 0.94 );
    animation-iteration-count:1;
}
.owindow.osuccess {
    animation: fountain .5s cubic-bezier(0.25, 0.46, 0.45, 0.94 );
    animation-iteration-count:1;
}
#odialog-container .owindow>div.modal-body>img[style*="padding: 2px 8px;"]:first-child {
    animation: fountain 2.25s cubic-bezier(0.25, 0.46, 0.45, 0.94 );
    animation-iteration-count:1;
}