/* MAIN CONTENT */
@keyframes merge {
    0% {transform: translateY(20%); filter: opacity(0)}
    100% {transform: translateY(0%); filter: opacity(1)}
}
@keyframes emerge {
    0% {filter: opacity(0);}
    100% {filter: opacity(0.5);}
}
@keyframes blur-in {
    0% {filter: blur(30px);}
    100% {filter: blur(0px);}
}
#container, #content-wrap {
    display: grid;
    padding: 0;
}
#container {
    position: relative;
    grid-template-areas:
	    "header"
		"content-wrap"
		"footer"
		"license";
    grid-template-columns: auto;
    width: 100%;
    height: 100%;
    margin: 0;
}
#content-wrap {
    position: initial;
    grid-area: content-wrap;
    grid-template-areas: "content";
    grid-template-columns: 1fr 0fr;
    height: fit-content;
    min-height: 100vh;
    margin: 0 auto;
    width: 75vw;
}
div#content-wrap:before {
    content: "";
    display: block;
    position: absolute;
    height: 50%;
    width: inherit;
    -webkit-backdrop-filter: blur(.5em);
    backdrop-filter: blur(.5em);
    margin-top: 2%;
    mask: var(--feather-mask);
    -webkit-mask: var(--feather-mask)
}
@media only screen and (max-width: 767px) {
    div#content-wrap:before {z-index: -1}
}
#action-area-top {
    display: none;
    grid-area: action-area-top;
    width: 66vw;
}
#page-title {
    grid-area: page-title;
    animation: merge 2s ;
    -moz-animation: merge 2s var(--vivacissimo-curve);
    -webkit-animation: merge 1s var(--vivacissimo-curve);
    -o-animation: merge 2s var(--vivacissimo-curve);
    animation-iteration-count: 1;
}
#breadcrumbs, .pseudocrumbs {
    display: flex;
    position: relative;
    grid-area: breadcrumbs;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    font-size: .85em;
    line-height: 2;
}
#page-content {
    font-size: 1rem;
    grid-area: page-content;
    background: rgb(var(--scale-8),.4);
    padding: 1em;
    box-shadow: 0 0 20px 10px rgb(var(--scale-8),.5);
    margin-bottom: 1rem;
}
html#html-block-html body {
    padding: .25em;
}
#page-content > p:not([style*="text-align: center"]) {
    text-indent: 2em;
}
#page-content > p:has(iframe,html) {
    text-indent: 0 !important;
}
#page-content > a[href] {
    text-indent: 0;
}
#main-content .page-tags {
    display: block;
    position: relative;
    grid-area: page-tags;
    justify-self: flex-start;
    width: 100%;
}
#page-info-break {
    grid-area: page-info-break;
}
#page-options-container {
    display: contents;
}
div#page-info {
    grid-area: pinfo;
    align-self: flex-end;
    height: min-content;
    overflow: visible;
    text-align: right;
}
div.page-watch-options {
    grid-area: pwatch;
    align-self: flex-end;
    height: min-content;
    overflow: visible;
    line-height: 1;
}
div#page-options-bottom {
    position: relative;
    grid-area: options-1;
    padding-top: .75em;
}
div#page-options-bottom-2 {
    grid-area: options-2;
}
div#page-options-area-bottom {
    grid-area: pbottom;
}
#action-area {
    grid-area: action-area-btm;
    padding: 2em 0 1em;
    text-align: center;
}
#footer {
    grid-area: footer;
    box-sizing: border-box;
    display: grid !important;
    margin: auto;
    padding-top: 1em;
    line-height: 1;
    font-size: 110%;
    color: rgb(var(--secondary-accent));

    grid-auto-columns: 1fr;
    grid-template-columns: 2.4fr 0.6fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 0;
    grid-template-areas: "footeropt . host";
    max-width: fit-content;
    justify-items: end;
}
#footer > a, #footer > div.options > a, #license-area > a {
    text-shadow: none !important;
    color: rgb(var(--link-newpage-color));
    transition: all .4s var(--standard-curve);
    border-bottom: 1px solid transparent;
    -moz-transition: all .4s var(--standard-curve);
    -webkit-transition: all .4s var(--standard-curve);
    -o-transition: all .4s var(--standard-curve);
    mix-blend-mode: screen;
}
#footer > a:hover, #footer > div.options > a:hover {
    color: rgb(var(--link-hover-color));
    border-bottom: 1px solid rgb(var(--link-hover-color));
}
#license-area > a:before {
    --base-font-size: 0.9375rem;
    --clip-path: polygon(0 0,0 0,0 100%,0 100%);
    content: "";
    clip-path: var(--clip-path)
    calc(100% + var(--base-font-size)*.93333);
    transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    width: 1%;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#license-area > a:hover:before {
    background: rgb(var(--bright-primary-color),.1);
    width: 100%;
}
#license-area {
    grid-area: license;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    width: 100%;
    padding: .5em;
    position: relative;
    align-items: center;
    justify-content: center;
    line-height: 1;
    color: rgb(var(--secondary-accent));
    font-size: 105%;
}
@media (min-width: 767px) {
    #main-content {
        position: initial;
        max-height: 100%;
        width: 67vw;
        height: fit-content;
        max-width: 75vw;
        padding: 1rem 2rem;
        margin: 5% auto 0;
        z-index: 1;
        background-color: rgb(var(--content-bg));
        box-shadow: 0 0 9px 1px rgb(var(--bg-shadow));

        display: grid;
        grid-template-columns: repeat(7,1fr);
        grid-template-areas:
        "action-area-top action-area-top action-area-top action-area-top action-area-top action-area-top action-area-top"
        "page-title page-title page-title page-title page-title page-title page-title"
        "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs"
        "page-content page-content page-content page-content page-content page-content page-content"
        "page-info-break page-info-break page-info-break page-info-break page-info-break page-info-break page-info-break"
        ". . . pwatch pwatch pwatch pwatch"
        ". . . pinfo pinfo pinfo pinfo"
        "page-tags page-tags page-tags page-tags page-tags page-tags page-tags"
        "options-1 options-1 options-1 options-1 options-1 options-1 options-1"
        "options-2 options-2 options-2 options-2 options-2 options-2 options-2"
        "pbottom pbottom pbottom pbottom pbottom pbottom pbottom"
        "action-area-btm action-area-btm action-area-btm action-area-btm action-area-btm action-area-btm action-area-btm";
        grid-auto-rows: min-content;
        grid-area: content;
    }
}